{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Participants</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Selectionner Année</span>
    </li>
   </ul>
  </div>
     <div style="padding-top: 50px;">
            {% for annee in annees %}
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<a class="dashboard-stat dashboard-stat-v2 red" href="{{ path('mfmm_crm_etudiants',{'annee':annee.id}) }}">
						<div class="visual">
							<i class="fa fa-bar-chart-o"></i>
						</div>
						<div class="details">
							<div class="number">
								<span>{{ annee.nom }}</span> </div>
						</div>
					</a>
				</div>
            {% endfor %}
     </div>
     </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}