{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Participants</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Liste Des Participants</span>
    </li>
   </ul>
  </div>
     <div>
         <h1>Liste Des Participants</h1>
         <div class="profile-userbuttons">
             <a href="{{ path('mfmm_crm_ajout_etudiant') }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter Participant</button></a>
         <div>
     </div>

                      <div class="portlet-body" >
                          <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                             <thead>
                             <tr role="row" class="heading">
                                 <th>Image</th>
                                 <th>Prénom</th>
                                 <th>Nom</th>
                                 <th>Action</th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for entity in pagination %}
                                 <tr role="row" class="filter">
                                     <td>
                                         {% if entity.user.path==null %}
                                         <img src="{{ asset("image/user/logo.jpg") }}" width="50px;">
                                         {% else %}
                                             <img src="{{ asset("image/user/")~entity.user.path }}" width="50px;">
                                         {% endif %}
                                     </td>
                                     <td>{{ entity.user.prenom }}</td>
                                     <td>{{ entity.user.nom }}</td>
                                     <td>
                                         <div class="caption">
                                             <a href="{{ path("mfmm_crm_modifier_etudiant",{'id':entity.user.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Modifier</button></a>
                                             <a href="{{ path("mfmm_crm_supprimer_etudiant",{'id':entity.user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet etudiant?')"> <button class="btn  red btn-outline btn-circle btn-sm">Supprimer</button></a>
                                           <!--  <a href="{{ path("mfmm_crm_imprimer_attestationF",{'id':entity.user.id}) }}"> <button class="btn  blue btn-outline btn-circle btn-sm">Attestation</button></a>-->
                                         </div>
                                     </td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                      </div>

 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                     "language": {
                         "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                     }
                 } );
         })
     </script>
 {% endblock %}