{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Etats</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Etat des modules</span>
    </li>
   </ul>
  </div>
 <div class="portlet-body" style="padding-top: 1%;">
     <div>
             <h1>Etats des modules</h1>
            <div class="form-group col-sm-12" style="margin-top: 5%;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th>Titre Module</th>
                         <th>Durée totale</th>
                         <th>Ecart</th>
                         <th>Formateur</th>
                         <th>Payé</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter" >
                            <td>{{ entity.nom }}</td>
                            <td>{{ entity.totalHeure }}</td>
                            <td>{{ entity.totalHeure  - entity.nbheure }}</td>
                            <td>{{ entity.user?entity.user.prenom }} {{ entity.user?entity.user.nom }}</td>
                            <td>{{ entity.honoraires?entity.honoraires:0 }} DT</td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>

             </div>
         <div class="form-group col-sm-12" style="width: 500px;float: right">
             <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                 <thead>
                 <tr role="row" class="heading">
                     <th>Total</th>
                     <th>Ecart</th>

                 </tr>
                 </thead>
                 <tbody>
                     <tr role="row" class="filter" >
                         <td>{{ total }}</td>
                         <td>{{ reste }}</td>
                     </tr>
                 </tbody>
             </table>

         </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
 {% endblock %}