{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Actions</span>
        <i class="fa fa-circle"></i>
    </li>
       <li>
           <span>Fiche Présences</span>
       </li>
   </ul>
  </div>
     <div>
         <h1>Fiche Présence</h1>
     </div>
             <div style="padding-top: 50px;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th> Date </th>
                         <th> Action </th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in absences %}
                         <tr role="row" class="filter">
                             <td>{{ entity.date|date('d/m/Y')}}</td>
                             <td>
                                 <div class="caption">
                                     <a href="{{ path('mfmm_crm_impr_fiche_presence',{'id':entity.formation.id,'date':entity.date}) }}" target="_blank"> <button class="btn red btn-outline btn-circle btn-sm active">Imprimer</button></a>
                                 </div>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
         </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}