{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Etudiants</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Absences</span>
    </li>
   </ul>
   <!--div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div-->
  </div>
 <div class="portlet-body" style="padding-top: 1%;">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-3">
               <label class="control-label">Famille des Formations</label>
               {{ form_errors(form.filiere)}}
               {{ form_widget(form.filiere, {'attr': {'class': 'form-control autocomplete','placeholder':"filiere"|trans}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Thème de Formation</label>
               {{ form_errors(form.sfiliere)}}
               {{ form_widget(form.sfiliere, {'attr': {'class': 'form-control autocomplete','placeholder':"sfiliere"|trans,'required':'required'}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Actions</label>
               {{ form_errors(form.formation)}}
               {{ form_widget(form.formation, {'attr': {'class': 'form-control autocomplete','placeholder':"formation"|trans,'required':'required'}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Date</label>
               <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                   {{ form_errors(form.date)}}
                   {{ form_widget(form.date, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date"|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>
		   {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12 pull-right" style="padding-bottom: 50px;">
               <a href="javascript:;" > <button type="submit" class="btn green">Valider </button></a>
           </div>

      </form>
            <div class="form-group col-sm-12" style="display: {{ display }}">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
						 <tr role="row" class="">
							 <th>Photos</th>
							 <th>Nom</th>
							 <th>Absence</th>
							 <th>Reste</th>
						 </tr>
                     </thead>
                     <tbody>
						 {% for entity in pagination %}
							 <tr role="row" class="" >
								 <td>
								  {% if entity.etudiant.path==null %}
									 <img src="{{ asset('image/user/logo.jpg') }}" width="50px;">
								  {% else %}
									 <img src="{{ asset('image/user/')~entity.etudiant.path }}" width="50px;">
								  {% endif %}
								 </td>
								 <td style="text-align:left;">
									<div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
										 <label for="form_control_1" style="color: #020808;">{{ entity.etudiant.nom }} {{ entity.etudiant.prenom }}</label>
									 </div>
								</td>
								 <td>
									 <div class="form-group form-md-line-input" style="padding-top: 0px;padding-bottom: 0px;margin-bottom:0px;margin-top: 0px;">
										   <input type="text" class="form-control" name="etudiant{{ entity.etudiant.id }}" id="etudiant{{ entity.etudiant.id }}" placeholder="Absence" value="{{ entity.absence }}">
										   <span class="help-block">En train d'écrire...</span>
									 </div>
								  </td>
								  <td>
									 <div class="form-group form-md-line-input has-success">
										 <label for="form_control_1">il vous reste <span style="color: #660e0b;">{{ 6 - entity.absence }}</span> Absences</label>
									 </div>
								  </td>
							 </tr>
						 {% endfor %}
                     </tbody>
                 </table>
                <div class="clearfix">
                    <button type="button" class="btn red mt-ladda-btn ladda-button btn-outline pull-right" data-style="expand-right" id="click">
                        <span class="ladda-label">
                            <i class="icon-arrow-right"></i> Enregistrer
                        </span>
                    </button>
                </div>
             </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $('#{{ form.vars.name }}_debut').timepicker({format: 'hh:ii'});
         $('#{{ form.vars.name }}_fin').timepicker();
         $('#{{ form.vars.name }}_date').datepicker({
             format: 'yyyy-mm-dd'
         });
         $('#click').on('click',function(){
             var ligne="";
             var filiere =$('#{{ form.vars.name }}_filiere').val();
             var sfiliere =$('#{{ form.vars.name }}_sfiliere').val();
             var formation =$('#{{ form.vars.name }}_formation').val();
             var date =$('#{{ form.vars.name }}_date').val();
             {% for entity in pagination %}
             var etu=document.getElementById("etudiant{{ entity.etudiant.id }}").checked;
             var jus=document.getElementById("justifie{{ entity.etudiant.id }}").checked;
             if(etu==true){
                 etu=1;
             }else{
                 etu=0;
             }
             ligne=ligne+"{{ entity.etudiant.id }}:"+etu+":"+jus+",";
             {% endfor %}
             var path='{{ path('mfmm_crm_ajout_absence',{'ligne':'aa','filiere':'cc','sfiliere':'mat','formation':'sem','date':"da"}) }}';
             var p=path.replace('aa',ligne);
             var pa=p.replace('cc',filiere);
             var url=pa.replace('mat',sfiliere);
             var uri=url.replace('sem',formation);
             var urii=uri.replace('da',date);
             window.location.href=urii;
         })
         /*$('#{{ form.vars.name }}_annee').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa'}) }}'
             var p=patht.replace('aa',idAnnee)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_filiere').empty();
                     $('#{{ form.vars.name }}_filiere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_filiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_annee').ready(function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa'}) }}'
             var p=patht.replace('aa',idAnnee)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_filiere').empty();
                     $('#{{ form.vars.name }}_filiere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_filiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });*/

         $('#{{ form.vars.name }}_filiere').on('change',function(){
             var filiere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_sous_filiere',{'filiere':'aa'}) }}'
             var p=patht.replace('aa',filiere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_sfiliere').empty();
                     $('#{{ form.vars.name }}_sfiliere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_sfiliere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_filiere').ready(function(){
             var filiere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_sous_filiere',{'filiere':'aa'}) }}'
             var p=patht.replace('aa',filiere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_sfiliere').empty();
                     $('#{{ form.vars.name }}_sfiliere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_sfiliere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_sfiliere').on('change',function(){
             var sfiliere=$('#{{ form.vars.name }}_sfiliere').val();
             var patht='{{ path('mfmm_crm_get_formation',{'sfiliere':'aa'}) }}'
             var p=patht.replace('aa',sfiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_formation').empty();
                     $('#{{ form.vars.name }}_formation').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_formation').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_sfiliere').ready(function(){
             var sfiliere=$('#{{ form.vars.name }}_sfiliere').val();
             var patht='{{ path('mfmm_crm_get_formation',{'sfiliere':'aa'}) }}'
             var p=patht.replace('aa',sfiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_formation').empty();
                     $('#{{ form.vars.name }}_formation').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_formation').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
     </script>
 {% endblock %}