{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paiement</span>
    </li>
    <li>
     <span>factures</span>
    </li>
   </ul>
  </div>
  <div class="row">

 <div class="portlet-body" style="padding-top: 1%;">

            <div class="form-group col-sm-12" >
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                        <th>Facture</th>
                         <th> Nom </th>
                         <th> Montant  </th>
                         <th> Action </th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter" >
                             <td>{{ entity.titre }}</td>
                             <td>{{ entity.nom }}</td>
                             <td>{{ entity.paye }}</td>
                             <td></td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
 {% endblock %}