{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paiement</span>
    </li>
   </ul>
  </div>
  <div class="row">
                            <div class="col-md-12" s>
                                <div class="m-heading-1 border-green m-bordered" style="height: 150px;margin-top: 1%;">
                                    <h3>Importation de fichier excel de paiement</h3>
                                    <p> il faut que la structure de fichier excel importé ètre identique de la structure.</p><br>
                                    <a href="{{ path('import_excel_facture') }}"  class="btn yellow fileinput-exists" style="float: left;"> Factures</a>
                                    <form id="fileupload" class="col-sm-3" action="{{ path('import_excel') }}" method="POST" enctype="multipart/form-data" style="float: left;">
                                        <div class="fileinput fileinput-new" data-provides="fileinput" >
                                            <!-- <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100%;" name="image"> </div>-->
                                             <div>
                                                 <span class="btn red btn-outline btn-file">
                                                     <span class="fileinput-new"> Selectionner Excel</span>
                                                         <span class="fileinput-exists"> Changer </span>
                                                     <input type="file" name="...">
                                                 </span>
                                                 <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Supprimer </a>
                                                 <button type="submit" class="btn yellow fileinput-exists" > valider</button>

                                             </div>
                                         </div>
                                    </form>
                                    <form  action="{{ path('export_excel') }}" method="post" class="col-sm-7">
                                           <button type="submit" class="btn red fileinput-exists" style="float: right;">Exporter</button>
                                           <div class="form-group">
                                                    <div class="col-md-6 pull-right">
                                                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                                            <input type="text" class="form-control" readonly name="datepicker" id="datepicker">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>

                                                    </div>
                                            </div>
                                    </form>
                                </div>

                            </div>
                        </div>
 <div class="portlet-body" style="padding-top: 1%;">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-4">
               <label class="control-label">Année</label>
               {{ form_errors(form.annee)}}
               {{ form_widget(form.annee, {'attr': {'class': 'form-control autocomplete','placeholder':"année"|trans}}) }}
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Filière</label>
               {{ form_errors(form.filiere)}}
               {{ form_widget(form.filiere, {'attr': {'class': 'form-control autocomplete','placeholder':"filiere"|trans}}) }}
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Classe</label>
               {{ form_errors(form.classe)}}
               {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"classe"|trans,'required':'required'}}) }}
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12 pull-right" style="padding-bottom: 50px;">
               <a href="javascript:;" > <button type="submit" class="btn green">Valider </button></a>
           </div>

      </form>
            <div class="form-group col-sm-12" style="display: {{ display }}">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                        <th>Photos</th>
                         <th> Nom </th>
                         <th> Absence </th>
                         <th> Reste </th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter" >
                             <td>
                              {% if entity.etudiant.path==null %}
                                     <img src="{{ asset("image/user/logo.jpg") }}" width="50px;">
                                     {% else %}
                                         <img src="{{ asset("image/user/")~entity.etudiant.path }}" width="50px;">
                                     {% endif %}
                             </td>
                             <td style="text-align:left;"><div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
                                     <label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.etudiant.nom }} {{ entity.etudiant.prenom }}</label>
                                 </div></td>
                             <td style="width: 25%;">
                                 <div class="form-group form-md-line-input" style="padding-top: 0px;padding-bottom: 0px;margin-bottom:0px;margin-top: 0px;">
                                       <input type="text" class="form-control" name="etudiant{{ entity.etudiant.id }}" id="etudiant{{ entity.etudiant.id }}" placeholder="Absence" value="{{ entity.absence }}">
                                       <span class="help-block">En train d'écrire...</span>
                                 </div>
                              </td>
                              <td style="width:25%;">
                                 <div class="form-group form-md-line-input has-success">
                                     <label for="form_control_1">il vous reste <span style="color: #660e0b;">{{ 6 - entity.absence }}</span> Absences</label>
                                 </div>
                              </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
                <div class="clearfix">
                    <button type="button" class="btn red mt-ladda-btn ladda-button btn-outline pull-right" data-style="expand-right" id="click">
                        <span class="ladda-label">
                            <i class="icon-arrow-right"></i> Enregistrer
                        </span>
                    </button>
                </div>
             </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $('#datepicker').datepicker({
             format: 'yyyy-mm-dd'
         });

         $('#{{ form.vars.name }}_annee').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_filiere').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_filiere').ready(function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });

     </script>
 {% endblock %}