{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Séances</span>
    </li>
    </ul>
  </div>
  <div>
      <h1>Séance</h1>
  </div>
  <div class="portlet-body">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
               <div class="form-group col-md-6">
                    <label class="control-label">Heure Début</label>
                        <div>
                            <div class="input-group">
                                {{ form_errors(form.debut)}}
                                {{ form_widget(form.debut, {'attr': {'class': 'form-control timepicker timepicker-24'}}) }}
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-clock-o"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
               </div>
               <div class="form-group col-md-6">
                    <label class="control-label">Heure Fin</label>
                        <div>
                            <div class="input-group" >
                                {{ form_errors(form.fin)}}
                                {{ form_widget(form.fin, {'attr': {'class': 'form-control timepicker timepicker-24'}}) }}
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-clock-o"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
               </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-md-6">
               <a href="javascript:;" > <button type="submit" class="btn green">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#time').timepicker();
            $('#{{ form.vars.name }}_debut').timepicker({format: 'hh:ii'});
            $('#{{ form.vars.name }}_fin').timepicker();

        })

    </script>
{% endblock %}