{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Professeurs</span>
    </li>

   </ul>
  </div>
     <div>
         <h1>Liste des Professeurs</h1>
         <div class="profile-userbuttons">
             <a href="{{ path('mfmm_crm_ajout_professeur') }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter Agent professeur</button></a>
         <div>
     </div>
             <div style="padding-top: 1%;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th>Image</th>
                         <th>Prénom</th>
                         <th>Nom</th>
                         <th>Poste</th>
                         <th>Action</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter">
                            <td>
                                 {% if entity.path==null %}
                                 <img src="{{ asset('image/user/logo.jpg') }}" width="50px;">
                                 {% else %}
                                     <img src="{{ asset('image/user/')~entity.path }}" width="50px;">
                                 {% endif %}
                             </td>
                             <td>{{ entity.prenom }}</td>
                             <td>{{ entity.nom }}</td>
                             <td>{{ entity.poste }}</td>
                             <td>
                                 <div class="caption">
                                     <a href="{{ path("mfmm_crm_modifier_professeur",{'id':entity.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Modifier</button></a>
                                     <a href="{{ path("mfmm_crm_supprimer_professeur",{'id':entity.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce professeur?')"> <button class="btn  red btn-outline btn-circle btn-sm">Supprimer</button></a>
                                     <a href="{{ path("mfmm_crm_convention_professeur",{'id':entity.id}) }}" > <button class="btn  yellow btn-outline btn-circle btn-sm">Convention</button></a>
                                 </div>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}