{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Attestation</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Liste </span>
    </li>
   </ul>
  </div>

             <div style="padding-top: 1%;">
                 <form role="form" action="" method="post" target="_blank">
                     {{ form_widget(form._token) }}
                       <div class="form-group col-sm-6">
                           <label class="control-label">Formation</label>
                           {{ form_errors(form.formation)}}
                           {{ form_widget(form.formation, {'attr': {'class': 'form-control autocomplete','placeholder':"Formation"|trans}}) }}
                       </div>
                       <div class="form-group col-sm-6">
                           <label class="control-label">Stagiaires</label>
                           {{ form_widget(form.Stagiaire, {'attr': {'class': 'Stagiaire ckeditor form-control','placeholder':"Stagiaire "|trans}}) }}
                       </div>
                        {{ form_rest(form) }}
                       <div class="margiv-top-12">
                           <a href="javascript:;"  target="_blank"> <button type="submit" class="btn green pull-right">Valider </button></a>
                       </div>
                  </form>
     </div>
         </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}