{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Action</span>
    </li>
    </ul>
  </div>
  <div>
      <h1>Formation</h1>
  </div>
  <div class="portlet-body">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-6">
               <label class="control-label">Nom Action</label>
               {{ form_errors(form.nom)}}
               {{ form_widget(form.nom, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom filière"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Thème de Formation</label>
               {{ form_errors(form.sfiliere)}}
               {{ form_widget(form.sfiliere, {'attr': {'class': 'form-control autocomplete','placeholder':"sfilière"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Date début</label>
               <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                   {{ form_errors(form.dateD)}}
                   {{ form_widget(form.dateD, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date début"|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>

           <div class="form-group col-sm-6">
               <label class="control-label">Date fin</label>
               <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                   {{ form_errors(form.dateF)}}
                   {{ form_widget(form.dateF, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date fin"|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Lieu</label>
               {{ form_errors(form.lieu)}}
               {{ form_widget(form.lieu, {'attr': {'class': 'form-control autocomplete','placeholder':"Lieu"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Formateur(s)</label>
               {{ form_errors(form.Formateur)}}
               {{ form_widget(form.Formateur, {'attr': {'class': 'form-control autocomplete','placeholder':"Formateur"|trans}}) }}
           </div>
           <div class="form-group col-sm-6 ">
               <label class="control-label">Participants</label>
               {{ form_errors(form.Stagiaire)}}
               {{ form_widget(form.Stagiaire, {'attr': {'class': 'form-control autocomplete','placeholder':"Stagiaire"|trans}}) }}
           </div>

      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12"><br>
               <a href="javascript:;" > <button type="submit" class="btn green">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#{{ form.vars.name }}_dateD').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('#{{ form.vars.name }}_dateF').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('#{{ form.vars.name }}_Formateur').select2();
            $('#{{ form.vars.name }}_Stagiaire').select2();


        })
    </script>
{% endblock %}