{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Action</span>
    </li>
   </ul>
  </div>
     <div>
         <h1>Liste Participants</h1>
     </div>
             <div style="padding-top: 50px;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th>Nom </th>
                         <th>Action</th>
                     </tr>
                     </thead>
                     <tbody>
                         {% for entity in pagination %}
                             <tr role="row" class="filter">
                                 <td>{{ entity.nom }} {{ entity.prenom }}</td>
                                 <td>
                                     <a href="{{ path("mfmm_crm_modifier_etudiant",{'id':entity.id}) }}"> <button class="btn yellow btn-outline btn-circle btn-sm">Fiche</button></a>
                                 </td>
                             </tr>
                         {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}