{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Action</span>
    </li>
   </ul>
  </div>
     <div>
         <h1>Gestion des Actions</h1>
         <div class="profile-userbuttons">
             <a href="{{ path('mfmm_crm_ajout_formation') }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter une Action</button></a>
         <div>
     </div>
             <div style="padding-top: 50px;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th>Nom </th>
                         <th>Date Début</th>
                         <th>Date de Fin</th>
                         <th>Lieu</th>
                         <th>Formateurs</th>
                         <th> Action </th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter">
                             <td>{{ entity.nom }}</td>
                             <td>{{ entity.dateD|date('Y-m-d') }}</td>
                             <td>{{ entity.dateF|date('Y-m-d') }}</td>
                             <td>{{ entity.lieu }}</td>
                             <td>
                                {% for prof in entity.Formateur %}
                                    {{ prof.nom }} {{ prof.prenom }}<br>
                                {% endfor %}
                             </td>
                             <td>
                                 <div class="caption">
                                     <a href="{{ path('mfmm_crm_modifier_formation',{'id':entity.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Modifier</button></a>
                                   <!--  <a href="{{ path('mfmm_crm_supprimer_formation',{'id':entity.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette formation?')"> <button class="btn  red btn-outline btn-circle btn-sm">Supprimer</button></a>-->
                                     <a href="{{ path('mfmm_crm_stagiares_formation',{'id':entity.id}) }}"> <button class="btn yellow btn-outline btn-circle btn-sm active">Participants</button></a>
                                     <a href="{{ path('mfmm_crm_fiche_presence',{'id':entity.id}) }}" target="_blank"> <button class="btn blue btn-outline btn-circle btn-sm active">Fiche de présence</button></a>
                                 </div>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}