{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Actualitées</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Actualitée</span>
    </li>
    </ul>
  </div>
  <div>
      <h1>Actualitée</h1>
  </div>
  <div class="portlet-body">
        <form role="form" action="" method="post">
		 {{ form_widget(form._token) }}
           <div class="form-group col-sm-6">
               <label class="control-label">Titre</label>
               {{ form_errors(form.titre)}}
               {{ form_widget(form.titre, {'attr': {'class': 'form-control autocomplete','placeholder':"Titre"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Date </label>
               <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                   {{ form_errors(form.date)}}
                   {{ form_widget(form.date, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date "|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>
           <div class="form-group col-sm-12">
               <label class="control-label">Texte</label>
               {{ form_widget(form.text, {'attr': {'class': 'ckeditor form-control','placeholder':"Actualitée "|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Type</label>
               {{ form_errors(form.type)}}
               {{ form_widget(form.type, {'attr': {'class': 'form-control autocomplete','placeholder':"Type"|trans}}) }}
           </div>
           <div class="form-group col-sm-6" >
               <div id="classe">
                    <label class="control-label">Classe</label>
                   {{ form_errors(form.classe)}}
                   {{ form_widget(form.classe, {'attr': {'class': 'form-control select2-allow-clear','placeholder':"Classe"|trans}}) }}
               </div>
               <div id="user">
                   <label class="control-label">Utilisateur</label>
                   {{ form_errors(form.user)}}
                   {{ form_widget(form.user, {'attr': {'class': 'form-control select2-allow-clear ','placeholder':"Utilisateur"|trans}}) }}
                </div>
           </div>

			{{ form_rest(form) }}
           <div class="margiv-top-12">
               <a href="javascript:;" > <button type="submit" class="btn green pull-right">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default pull-right"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#{{ form.vars.name }}_date').datepicker({
                 format: 'yyyy-mm-dd'
             });
         })
         /*var actualite=document.getElementById('{{ form.vars.name }}_text');
         actualite.id='summernote_1';*/
         $('#{{ form.vars.name }}_type').on('change',function(){
             var type=$('#{{ form.vars.name }}_type').val();
             if(type=='Classe'){
                 var classe=document.getElementById('classe');
                 classe.style.display='block';
                 var user=document.getElementById('user');
                 user.style.display='none';

             }else {
                 var classe=document.getElementById('classe');
                 classe.style.display='none';
                 var user=document.getElementById('user');
                 user.style.display='block';
                 var patht='{{ path('mfmm_crm_get_type',{'type':'aa'}) }}'
                 var p=patht.replace('aa',type);
                 $.ajax({
                     url : p,
                     type : 'POST',
                     success : function(data, status){
                         $('#{{ form.vars.name }}_user').empty();
                         $.each(data, function( index, value ) {
                             $('#{{ form.vars.name }}_user').append($('<option>', {
                                 value: value.id,
                                 text : value.nom
                             }));
                         });
                         $('select option:first-child').attr("selected", "selected");
                     },
                     error : function(resultat, status, error){
                         $('#classe').disabled = true;
                     }
                 });


             }

         });
         $('#{{ form.vars.name }}_type').ready(function(){
             var type=$('#{{ form.vars.name }}_type').val();
             if(type=='Classe'){
                 var classe=document.getElementById('classe');
                 classe.style.display='block';
                 var user=document.getElementById('user');
                 user.style.display='none';

             }else {
                 var classe=document.getElementById('classe');
                 classe.style.display='none';
                 var user=document.getElementById('user');
                 user.style.display='block';
                 var patht='{{ path('mfmm_crm_get_type',{'type':'aa'}) }}'
                 var p=patht.replace('aa',type);
                 $.ajax({
                     url : p,
                     type : 'POST',
                     success : function(data, status){
                         $('#{{ form.vars.name }}_user').empty();
                         $.each(data, function( index, value ) {
                             $('#{{ form.vars.name }}_user').append($('<option>', {
                                 value: value.id,
                                 text : value.nom
                             }));
                         });
                     },
                     error : function(resultat, status, error){
                         $('#classe').disabled = true;
                     }
                 });
             }

         });
     </script>
 {% endblock %}
