{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Actualitée</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Liste</span>
    </li>
   </ul>
  </div>
     <div>
         <h1>Gestion des Actualités</h1>
         <div class="profile-userbuttons">
             <a href="{{ path('mfmm_crm_ajout_actualite') }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter Actualitée</button></a>
         <div>
     </div>
             <div style="padding-top: 1%;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
						 <tr role="row" class="heading">
							 <th>Titre</th>
							 <th>Date</th>
							 <th>Type</th>
						 </tr>
                     </thead>
                     <tbody>
						 {% for entity in pagination %}
							 <tr role="row" class="filter">
								 <td>{{ entity.titre }}</td>
								 <td>{{ entity.date|date('d/m/Y') }}</td>
								 <td>{{ entity.type}}</td>
								 <td>
									 <div class="caption">
										 <a href="{{ path('mfmm_crm_modifier_actualite',{'id':entity.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Modifier</button></a>
										 <a href="{{ path('mfmm_crm_supprimer_actualite',{'id':entity.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette actualitée ?')"> <button class="btn  red btn-outline btn-circle btn-sm">Supprimer</button></a>
									 </div>
								 </td>
							 </tr>
						 {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
         </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}