{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paiement</span>
    </li>
   </ul>
  </div>
 <div class="portlet-body" style="padding-top: 1%;">
<h3>Gestion de blockage</h3>
{% if blockage!=null %}
            <div class="form-group col-sm-12" >
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                        <th>Photos</th>
                         <th> Nom </th>
                         <th> Status </th>
                         <th>Action</th>
                     </tr>
                     </thead>
                     <tbody>
                         <tr role="row" class="filter" >
                             <td>
                              {% if blockage?blockage.user.path==null %}
                                     <img src="{{ asset('image/user/logo.jpg') }}" width="50px;">
                              {% else %}
                                         <img src="{{ asset('image/user/')~blockage.user.path }}" width="50px;">
                              {% endif %}
                             </td>
                             <td>
								 <div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
                                     <label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ blockage?blockage.user.nom }} {{ blockage?blockage.user.prenom }}</label>
                                 </div>
							</td>
                             <td style="width: 25%;">
								 <div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
									<label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ blockage?blockage.status}} </label>
                                 </div>
                              </td>
                              <td>
                                 <div class="caption" style="margin-top: 10px;">
                                     <a href="{{ path('mfmm_crm_change_status',{'id':blockage?blockage.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Changer Status</button></a>
                                 </div>
                             </td>
                         </tr>
                     </tbody>
                 </table>

             </div>
{% endif %}
  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
 {% endblock %}