{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paiement</span>
    </li>
   </ul>
  </div>
 <div class="portlet-body" style="padding-top: 1%;">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-4">
               <label class="control-label">Année</label>
               {{ form_errors(form.annee)}}
               {{ form_widget(form.annee, {'attr': {'class': 'form-control autocomplete','placeholder':"année"|trans}}) }}
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Filière</label>
               {{ form_errors(form.filiere)}}
               {{ form_widget(form.filiere, {'attr': {'class': 'form-control autocomplete','placeholder':"filiere"|trans}}) }}
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Classe</label>
               {{ form_errors(form.classe)}}
               {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"classe"|trans,'required':'required'}}) }}
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12 pull-right" style="padding-bottom: 50px;">
               <a href="javascript:;" > <button type="submit" class="btn green">Valider </button></a>
           </div>

      </form>
            <div class="form-group col-sm-12" style="display: {{ display }}">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                        <th>Photos</th>
                         <th> Nom </th>
                         <th> Somme </th>
                         <th>Reste</th>
                         <th>Action</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter" >
                             <td>
                              {% if entity.etudiant.path==null %}
                                     <img src="{{ asset('image/user/logo.jpg') }}" width="50px;">
                              {% else %}
                                         <img src="{{ asset('image/user/')~entity.etudiant.path }}" width="50px;">
                              {% endif %}
                             </td>
                             <td>
								 <div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
                                     <label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.etudiant.nom }} {{ entity.etudiant.prenom }}</label>
                                 </div>
							</td>
                             <td style="width: 25%;">
								 <div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
									<label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.somme}} DT</label>
                                 </div>
                              </td>
                              <td style="width: 25%;">
								 <div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
									<label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.reste}} DT</label>
                                 </div>
                              </td>
                              <td>
                                 <div class="caption" style="margin-top: 10px;">
                                     <a href="{{ path('mfmm_crm_voir_Paiement',{'id':entity.etudiant.id,'classe': entity.classe.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Voir</button></a>
                                     <a href="{{ path('mfmm_crm_voir_status',{'id':entity.etudiant.id,'classe': entity.classe.id}) }}"> <button class="btn blue btn-outline btn-circle btn-sm active">Status</button></a>
                                 </div>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>

             </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $('#click').on('click',function(){
             var ligne="";
             var classe =$('#{{ form.vars.name }}_classe').val();
             var matiere =$('#{{ form.vars.name }}_matiere').val();
             var devoir =$('#{{ form.vars.name }}_devoir').val();
             {% for entity in pagination %}
                var etu=document.getElementById("etudiant{{ entity.etudiant.id }}").value;
                ligne=ligne+"{{ entity.etudiant.id }}:"+etu+",";
             {% endfor %}
             var path='{{ path('mfmm_crm_ajout_note',{'ligne':'aa','classe':'cc','matiere':'mat','devoir':'hh'}) }}';
             var p=path.replace('aa',ligne);
             var pa=p.replace('cc',classe);
             var url=pa.replace('mat',matiere);
             var uri=url.replace('hh',devoir);
             window.location.href=uri;
         })
         $('#{{ form.vars.name }}_annee').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_filiere').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_filiere').ready(function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var classe_current =$('#{{ form.vars.name }}_classe').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                     $('#{{ form.vars.name }}_classe').val(classe_current);
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
     </script>
 {% endblock %}