{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paiement</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Liste</span>
    </li>
   </ul>
  </div>
     <div>
         <h1>Liste des paiements de {{ user.prenom }}  {{ user.nom }}</h1>
         <div class="profile-userbuttons">
             <a href="{{ path("mfmm_crm_ajout_paie",{'id':user.id,'classe':classe.id}) }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter un paiement</button></a>
         <div>
     </div>
         <div class="row" style="padding-top: 2%;">
              <div class="col-md-12">
				  {% if(classe.prix - somme == 0) %}
					  <div class="note note-success">
						  <h4 class="block">{{ user.prenom }}  {{ user.nom }} paie {{ somme }} DT</h4>
						  <p> il  reste {{ classe.prix - somme }} DT à payer .</p>
					  </div>
				  {% else %}
					  <div class="note note-warning">
						  <h4 class="block">{{ user.prenom }}  {{ user.nom }} paie {{ somme }} DT</h4>
						  <p> il  reste {{ classe.prix - somme }} DT à payer .</p>
					  </div>
				  {% endif %}
              </div>
         </div>
             <div style="padding-top: 50px;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th>Date</th>
                         <th> Somme </th>
                         <th> Action </th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter">
                             <td>{{ entity.date|date('d/m/Y') }}</td>
                             <td>{{ entity.somme }}</td>
                             <td>
                                 <div class="caption">
                                     <a href="{{ path("mfmm_crm_modifier_paie",{'id':entity.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Modifier</button></a>
                                     <a href="{{ path("mfmm_crm_supprimer_paie",{'id':entity.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce paiement?')"> <button class="btn  red btn-outline btn-circle btn-sm">Supprimer</button></a>
                                 </div>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}