{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Etats</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Etat des modules</span>
    </li>
   </ul>
  </div>
     <div>
         <h1>Accéder au Emplois</h1>
     </div>
             <div style="padding-top: 1%;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
						 <tr role="row" class="heading">
							 <th>Nom</th>
							 <th>Action</th>
						 </tr>
                     </thead>
                     <tbody>
						 {% for entity in classes %}
							 <tr role="row" class="filter">
								 <td>{{ entity.nom }}</td>
								 <td>
									 <div class="caption">
										 <a href="{{ path('mfmm_crm_etat_module',{'id':entity.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Etat</button></a>
									 </div>
								 </td>
							 </tr>
						 {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
         </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}