{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Etudiants</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Absences</span>
    </li>
   </ul>
   <!--div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div-->
  </div>
 <div class="portlet-body" style="padding-top: 1%;">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-3">
               <label class="control-label">Année</label>
               {{ form_errors(form.annee)}}
               {{ form_widget(form.annee, {'attr': {'class': 'form-control autocomplete','placeholder':"année"|trans}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Filière</label>
               {{ form_errors(form.filiere)}}
               {{ form_widget(form.filiere, {'attr': {'class': 'form-control autocomplete','placeholder':"filiere"|trans}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Classe</label>
               {{ form_errors(form.classe)}}
               {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"classe"|trans,'required':'required'}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Semestre</label>
               {{ form_errors(form.semestre)}}
               {{ form_widget(form.semestre, {'attr': {'class': 'form-control autocomplete','placeholder':"semestre"|trans,'required':'required'}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Matière</label>
               {{ form_errors(form.matiere)}}
               {{ form_widget(form.matiere, {'attr': {'class': 'form-control autocomplete','placeholder':"matiere"|trans,'required':'required'}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Date</label>
               <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                   {{ form_errors(form.date)}}
                   {{ form_widget(form.date, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date"|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Séance</label>
               {{ form_errors(form.seance)}}
               {{ form_widget(form.seance, {'attr': {'class': 'form-control autocomplete','placeholder':"seance"|trans,'required':'required'}}) }}
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12 pull-right" style="padding-bottom: 50px;">
               <a href="javascript:;" > <button type="submit" class="btn green">Valider </button></a>
           </div>

      </form>
            <div class="form-group col-sm-12" style="display: {{ display }}">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th>Photos</th>
                         <th>Nom</th>
                         <th>Absence</th>
                         <th>Justifié</th>
                         <th>Reste</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter" >
                             <td>
                              {% if entity.etudiant.path==null %}
                                     <img src="{{ asset('image/user/logo.jpg') }}" width="50px;">
                                     {% else %}
                                         <img src="{{ asset('image/user/')~entity.etudiant.path }}" width="50px;">
                                     {% endif %}
                             </td>
                             <td style="text-align:left;"><div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
                                     <label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.etudiant.nom }} {{ entity.etudiant.prenom }}</label>
                                 </div></td>
                             <td style="width: 25%;">
                                 {% if entity.absence==1 %}
                                 {% set abs= 'checked' %}
                                 {% else %}
                                 {% set abs= '' %}
                                 {% endif %}
                                 <div class="form-group">
                                     <div class="col-md-9" style="padding-top: 10px;">
                                          <input name="etudiant{{ entity.etudiant.id }}" id="etudiant{{ entity.etudiant.id }}" type="checkbox" class="make-switch" data-on-text="1" data-off-text="0" {{ abs }}>
                                     </div>
                                 </div>
                             </td>
                             <td style="width: 25%;">
                                 {% if entity.justifie==1 %}
                                 {% set jus= 'checked' %}
                                 {% else %}
                                 {% set jus= '' %}
                                 {% endif %}
                                 <div class="form-group">
                                     <div class="col-md-9" style="padding-top: 10px;">
                                         <input name="justifie{{ entity.etudiant.id }}" id="justifie{{ entity.etudiant.id }}" type="checkbox" class="make-switch" data-on-text="oui" data-off-text="non" {{ jus }}>
                                     </div>
                                 </div>
                             </td>
                             <td style="width:25%;">
                                 <div class="form-group form-md-line-input has-success">
                                     <label for="form_control_1">
										 {% if entity.count > 6 %}
											<span style="color: #660e0b;">{{ entity.count}}  Absences , il dépasse le plafond</span>
										 {% else %}
											il reste <span style="color: #660e0b;">{{ 6 - entity.count }}</span> Absences
										 {% endif %}
                                     </label>
                                 </div>
                              </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
                <div class="clearfix">
                    <button type="button" class="btn red mt-ladda-btn ladda-button btn-outline pull-right" data-style="expand-right" id="click">
                        <span class="ladda-label">
                            <i class="icon-arrow-right"></i> Enregistrer
                        </span>
                    </button>
                </div>
             </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $('#{{ form.vars.name }}_debut').timepicker({format: 'hh:ii'});
         $('#{{ form.vars.name }}_fin').timepicker();
         $('#{{ form.vars.name }}_date').datepicker({
             format: 'yyyy-mm-dd'
         });
         $('#click').on('click',function(){
             var ligne="";
             var classe =$('#{{ form.vars.name }}_classe').val();
             var matiere =$('#{{ form.vars.name }}_matiere').val();
             var semestre =$('#{{ form.vars.name }}_semestre').val();
             var date =$('#{{ form.vars.name }}_date').val();
             var seance =$('#{{ form.vars.name }}_seance').val();
             {% for entity in pagination %}
                var etu=document.getElementById("etudiant{{ entity.etudiant.id }}").checked;
                var jus=document.getElementById("justifie{{ entity.etudiant.id }}").checked;
                if(etu==true){
                    etu=1;
                }else{
                    etu=0;
                }
                ligne=ligne+"{{ entity.etudiant.id }}:"+etu+":"+jus+",";
             {% endfor %}
             var path='{{ path('mfmm_crm_ajout_absence',{'ligne':'aa','classe':'cc','matiere':'mat','semestre':'sem','date':"da",'seance':'dee'}) }}';
             var p=path.replace('aa',ligne);
             var pa=p.replace('cc',classe);
             var url=pa.replace('mat',matiere);
             var uri=url.replace('sem',semestre);
             var urii=uri.replace('da',date);
             var uriii=urii.replace('dee',seance);
             window.location.href=uriii;
         })
         $('#{{ form.vars.name }}_annee').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_filiere').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_filiere').ready(function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var classe_current =$('#{{ form.vars.name }}_classe').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                     $('#{{ form.vars.name }}_classe').val(classe_current);
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_semestre').on('change',function(){
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var idSemestre=$('#{{ form.vars.name }}_semestre').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe_semestre',{'classe':'aa','semestre':'ff'}) }}'
             var p=patht.replace('aa',idClasse)
             var p=p.replace('ff',idSemestre)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_matiere').empty();
                     $('#{{ form.vars.name }}_matiere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_matiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#matiere').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_semestre').ready(function(){
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var idSemestre=$('#{{ form.vars.name }}_semestre').val();
             var matiere_current =$('#{{ form.vars.name }}_matiere').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe_semestre',{'classe':'aa','semestre':'ff'}) }}'
             var p=patht.replace('aa',idClasse)
             var p=p.replace('ff',idSemestre)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_matiere').empty();
                     $('#{{ form.vars.name }}_matiere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_matiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                     $('#{{ form.vars.name }}_matiere').val(matiere_current);
                 },
                 error : function(resultat, status, error){
                     $('#matiere').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_classe').on('change',function(){
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var idSemestre=$('#{{ form.vars.name }}_semestre').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe_semestre',{'classe':'aa','semestre':'ff'}) }}'
             var p=patht.replace('aa',idClasse)
             var p=p.replace('ff',idSemestre)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_matiere').empty();
                     $('#{{ form.vars.name }}_matiere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_matiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#matiere').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_classe').ready(function(){
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var idSemestre=$('#{{ form.vars.name }}_semestre').val();
             var matiere_current =$('#{{ form.vars.name }}_matiere').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe_semestre',{'classe':'aa','semestre':'ff'}) }}'
             var p=patht.replace('aa',idClasse)
             var p=p.replace('ff',idSemestre)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_matiere').empty();
                     $('#{{ form.vars.name }}_matiere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_matiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                     $('#{{ form.vars.name }}_matiere').val(matiere_current);

                 },
                 error : function(resultat, status, error){
                     $('#matiere').disabled = true;
                 }
             });
         });


     </script>
 {% endblock %}