{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Etat des classe</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Absences</span>
    </li>
   </ul>
  </div>
 <div class="portlet-body" style="padding-top: 1%;">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-3">
               <label class="control-label">Année</label>
               {{ form_errors(form.annee)}}
               {{ form_widget(form.annee, {'attr': {'class': 'form-control autocomplete','placeholder':"année"|trans}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Filière</label>
               {{ form_errors(form.filiere)}}
               {{ form_widget(form.filiere, {'attr': {'class': 'form-control autocomplete','placeholder':"filiere"|trans}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Classe</label>
               {{ form_errors(form.classe)}}
               {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"classe"|trans,'required':'required'}}) }}
           </div>
           <div class="form-group col-sm-3">
               <label class="control-label">Semestre</label>
               {{ form_errors(form.semestre)}}
               {{ form_widget(form.semestre, {'attr': {'class': 'form-control autocomplete','placeholder':"semestre"|trans,'required':'required'}}) }}
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12 pull-right" style="padding-bottom: 1%;">
               <a href="javascript:;" > <button type="submit" class="btn green">Valider </button></a>
           </div>

      </form>
            <div class="form-group col-sm-12" style="display: {{ display }}">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th>Photos</th>
                         <th>Etudiant</th>
                         <th>Somme</th>
                         <th>Payer</th>
                         <th>Reste à payer</th>
                         <TH>Tranches</TH>
                         {% for matiere in matieres %}
							<th>{{ matiere.nom }}</th>
                         {% endfor %}
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter" >
                             <td>
                              {% if entity.etudiant.path==null %}
                                     <img src="{{ asset('image/user/logo.jpg') }}" width="50px;">
                                     {% else %}
                                         <img src="{{ asset('image/user/')~entity.etudiant.path }}" width="50px;">
                                     {% endif %}
                             </td>
                             <td style="text-align:left;"><div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
                                     <label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.etudiant.nom }} {{ entity.etudiant.prenom }}</label>
                                 </div>
							</td>
							<td><div class="form-group form-md-line-input has-success" style="margin:0 0 0px;"><label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.prix }} DT</label></div></td>
							<td><div class="form-group form-md-line-input has-success" style="margin:0 0 0px;"><label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.somme }} DT</label></div></td>
							<td><div class="form-group form-md-line-input has-success" style="margin:0 0 0px;"><label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.prix  - entity.somme}} DT</label></div></td>
							<td><div class="form-group form-md-line-input has-success" style="margin:0 0 0px;"><label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.tranche }}</label></div></td>
                             {% for page in entity.page %}
								 <td style="text-align:left;"><div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
										 <label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ page.absences }}
										 {% if page.absences >=3 %}
										  <spam for="form_control_1" style="padding-left: 5%;color: red;font-size:10px;">Eliminé </spam>
										  {% endif %}
										 </label>
									 </div>
								 </td>
                             {% endfor %}
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>

             </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $('#{{ form.vars.name }}_debut').timepicker({format: 'hh:ii'});
         $('#{{ form.vars.name }}_fin').timepicker();
         $('#{{ form.vars.name }}_date').datepicker({
             format: 'yyyy-mm-dd'
         });
         $('#click').on('click',function(){
             var ligne="";
             var classe =$('#{{ form.vars.name }}_classe').val();
             var matiere =$('#{{ form.vars.name }}_matiere').val();
             var semestre =$('#{{ form.vars.name }}_semestre').val();
             var date =$('#{{ form.vars.name }}_date').val();
             var seance =$('#{{ form.vars.name }}_seance').val();
             {% for entity in pagination %}
                var etu=document.getElementById("etudiant{{ entity.etudiant.id }}").value;
                ligne=ligne+"{{ entity.etudiant.id }}:"+etu+",";
             {% endfor %}
             var path='{{ path('mfmm_crm_ajout_absence',{'ligne':'aa','classe':'cc','matiere':'mat','semestre':'sem','date':"da",'seance':'dee'}) }}';
             var p=path.replace('aa',ligne);
             var pa=p.replace('cc',classe);
             var url=pa.replace('mat',matiere);
             var uri=url.replace('sem',semestre);
             var urii=uri.replace('da',date);
             window.location.href=uri;
         })
         $('#{{ form.vars.name }}_annee').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                    // var block=document.getElementById('{{ form.vars.name }}_classe').length;
                   //  alert(block);
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_filiere').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_filiere').ready(function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idFiliere=$('#{{ form.vars.name }}_filiere').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee_filiere',{'annee':'aa','filiere':'ff'}) }}'
             var p=patht.replace('aa',idAnnee)
             var p=p.replace('ff',idFiliere)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_semestre').on('change',function(){
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var idSemestre=$('#{{ form.vars.name }}_semestre').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe_semestre',{'classe':'aa','semestre':'ff'}) }}'
             var p=patht.replace('aa',idClasse)
             var p=p.replace('ff',idSemestre)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_matiere').empty();
                     $('#{{ form.vars.name }}_matiere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_matiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#matiere').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_semestre').ready(function(){
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var idSemestre=$('#{{ form.vars.name }}_semestre').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe_semestre',{'classe':'aa','semestre':'ff'}) }}'
             var p=patht.replace('aa',idClasse)
             var p=p.replace('ff',idSemestre)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_matiere').empty();
                     $('#{{ form.vars.name }}_matiere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_matiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#matiere').disabled = true;
                 }
             });
         });

     </script>
 {% endblock %}