

  <div class="portlet-body col-sm-12">
        <div class="form-group col-sm-6">
            <label class="control-label">Heure</label>
            {{ form_errors(form.heure)}}
            {{ form_widget(form.heure, {'attr': {'class': 'form-control autocomplete','placeholder':"Heure"|trans}}) }}
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Matière</label>
            {{ form_errors(form.matiere)}}
            {{ form_widget(form.matiere, {'attr': {'class': 'form-control autocomplete','placeholder':"Matière"|trans}}) }}
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Nombre des heures</label>
            {{ form_errors(form.matiere)}}
            {{ form_widget(form.matiere, {'attr': {'class': 'form-control autocomplete','placeholder':"Matière"|trans}}) }}
        </div>
  </div>
