{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
       <li>
           <span>Emplois de temps</span>
           <i class="fa fa-circle"></i>
       </li>
       <li>
           <span>Gestion des emplois</span>
       </li>
   </ul>
  </div>
     <div>
         <h1>Gestion des Emplois</h1>
         {% if app.session.flashBag.has('emplois') %}
             <div class="alert alert-danger">
                 {% set msg=app.session.flashBag.get('emplois')  %}
                 <h3>{{ msg[0].title }}</h3>
                 <h5>{{ msg[0].msg }}</h5>
             </div>
         {% endif %}
         <div class="profile-userbuttons">
             <div class="col-sm-12">
                 <a href="{{ path('mfmm_crm_ajout_emplois',{'id':classe}) }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter Emplois</button></a>
             </div>
             {% for entity in semaines %}
                 <div class="col-sm-12" >
                     <h2 style="width: 200px;">{{ entity.semestre.nom }}</h2>
                     <a href="{{ path('mfmm_crm_pdf_emplois',{'classe':classe,'semestre':entity.semestre.id}) }}" target="_blank"><button type="button" class="btn btn-circle yellow btn-sm pull-right" style="width: 150px;margin-bottom: 2%;">PDF {{ entity.semestre.nom }}</button></a>
                     <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders{{ entity.semestre.id }}">
                         <thead>
                             <tr role="row" class="heading">
                                 <th>Semaine</th>
                                 <th>Date</th>
                                 <th>Action</th>
                             </tr>
                         </thead>
                         <tbody>
                             {% for entry in entity.page %}
                                 <tr role="row" class="filter">
                                     <td>{{ entry.emplois.semaine}}</td>
                                     <td>{{ entry.emplois.dateD|date('y-m-d') }} - {{ entry.emplois.dateF|date('y-m-d') }}</td>
                                     <td>
                                         <div class="caption pull-right">
                                             <a href="{{ path('mfmm_crm_accee_emplois',{'classe':classe,'dateD':entry.emplois.dateD|date('y-m-d')}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Emplois</button></a>
                                             <a href="{{ path('mfmm_crm_supprimer_emplois',{'classe':classe,'dateD':entry.emplois.dateD|date('y-m-d')}) }}"> <button class="btn  red btn-outline btn-circle btn-sm">supprimer</button></a>
                                             <a href="{{ path('mfmm_crm_imprimer_emplois',{'classe':classe,'dateD':entry.emplois.dateD|date('y-m-d')}) }}" target="_blank"> <button class="btn  blue btn-outline btn-circle btn-sm">Imprimer</button></a>
                                         </div>
                                     </td>
                                 </tr>
                             {% endfor %}
                         </tbody>
                     </table>
                 </div>
             {% endfor %}
         </div>
     </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             {% for entity in semaines %}
                 $('#datatable_orders{{ entity.semestre.id }}').dataTable( {
                     "language": {
                         "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                     }
                 } );
             {% endfor %}
         })
     </script>
 {% endblock %}