<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PDF{% endblock %}</title>
        {% block stylesheets %}
              <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="{{absolute_url( asset("assets/global/plugins/font-awesome/css/font-awesome.min.css") )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/simple-line-icons/simple-line-icons.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap/css/bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css") )}}" rel="stylesheet" type="text/css" />
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN THEME GLOBAL STYLES -->
            <link href="{{absolute_url( asset("assets/global/css/components.css")) }}" rel="stylesheet" id="style_components" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/css/plugins.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME GLOBAL STYLES -->
            <!-- BEGIN THEME LAYOUT STYLES -->
            <link href="{{ absolute_url(asset("assets/layouts/layout/css/layout.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url( asset("assets/layouts/layout/css/themes/light2.css") )}}" rel="stylesheet" type="text/css" id="style_color" />
            <link href="{{absolute_url( asset("assets/layouts/layout/css/custom.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME LAYOUT STYLES -->
            <!--BEGIN Date picker -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END DATEPICKER-->
            <!--BEGIN DATATABLE -->
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/datatables.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <!--END DATA TABLE-->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2.min.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")) }}" rel="stylesheet" type="text/css" />
            <!-- BEGIN PAGE LEVEL STYLES -->
            <link href="{{ absolute_url(asset("assets/pages/css/profile-2.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL STYLES -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/ladda/ladda-themeless.min.css')) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-summernote/summernote.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/lib/codemirror.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neat.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/ambiance.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/material.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neo.css')) }}" rel="stylesheet" type="text/css" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico') )}}" />
    </head>
    <body>
            <div class="jumbotron " >
                <img src="{{ absolute_url(asset("assets/layouts/layout/img/logo.png")) }}" alt="logo" class="logo-default col-sm-3" style="margin-left: 5%;width: 200px;"/>
              <center><h3 class="col-sm-8" style="color: #0e4788;width: 500px;margin-top: -30px;">Institut Méditerranéen De Formation Aux Métiers Maritimes</h3></center>
            </div>
            <div class="container" style="height: 100%;">
            <p style="margin-top: 2%;margin-bottom: 2%;">Emplois de temps de la semaine {{ dateD|date('Y-m-d') }} / {{ dateF|date('Y-m-d') }} {{ classe.nom }}:</p>
            <div class="table-responsive" style="margin-bottom: 10%;" >
                <table class="table">
                    <thead>
                    <tr>
                        <td width="10%;">Jour</td>
                        {% for s in seances%}
                            <td>{{ s.nom }}
                            </td>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for ligne in  pagination%}
                        <tr id="{{ ligne.jour.id }}">
                            <td width="10%;">{{ ligne.jour.nom }}</td>
                            {% for s in ligne.seances%}
                                <td>
                                    <div class="input-group select2-bootstrap-prepend">
                                        {{ s.matiere?s.matiere.nom }}
                                        <br>
                                        {{ s.user?s.user.nom }} {{ s.user?s.user.prenom }}<br>
                                        {{ s.salle?s.salle.nom }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </body>
<footer>
    <div class="page-footer">
        <div class="page-footer-inner pull-left"> Adresse :
            <a target="_blank" href="http://tuninfoforyou.com/">Batiment OMMP, Port de Radès,2040 Radès-Tunisie</a>
        </div>
        <div class="page-footer-inner pull-right" > Fax :
            <a target="_blank" href="http://tuninfoforyou.com/">+216 71 46 99 54</a>
        </div>
        <div class="page-footer-inner pull-right" style="margin-left: 1%;"> Tél :
            <a target="_blank" href="http://tuninfoforyou.com/">+216 71 46 99 56</a>
        </div>
    </div>
</footer>
</html>
