<!DOCTYPE html>
<html>
<footer>
    <div class="page-footer">
        <div class="page-footer-inner pull-left"> Adresse :
            <a target="_blank" href="http://tuninfoforyou.com/">Batiment OMMP, Port de Radès,2040 Radès-Tunisie</a>
        </div>
        <div class="page-footer-inner pull-right" > Fax :
            <a target="_blank" href="http://tuninfoforyou.com/">+216 71 46 99 54</a>
        </div>
        <div class="page-footer-inner pull-right" style="margin-left: 1%;"> Tél :
            <a target="_blank" href="http://tuninfoforyou.com/">+216 71 46 99 56</a>
        </div>
    </div>
</footer>
</html>
