{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Home</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Etudiants</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Bulletin</span>
    </li>
   </ul>
   <div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 <div class="portlet-body col-sm-12" style="padding-top: 50px;">
      <h3>Bulletin</h3>
             <div class="form-group col-sm-12">
              {% for entry in pagination %}
                 <div class="col-sm-6">
                    <h3>{{ entry.semestre }}</h3>
                    <h4>Moyenne Général : {{ entry.moyenne }}</h4>
                    <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th> Matières </th>
                         <th> Cc </th>
                         <th>Ex</th>
                         <th>Moyenne</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in entry.dev %}
                         <tr role="row" class="filter" >
                             <td style="text-align:left;"><center><label for="form_control_1">{{ entity.Matiere }}</label></center> </td>
                             <td style="width: 25%;"><center><label for="form_control_1">{{entity.notes.Cc }}</label></center></td>
                             <td style="width: 25%;"><center><label for="form_control_1">{{entity.notes.Ex }}</label></center></td>
                             <td style="width: 25%;"><center><label for="form_control_1">{{entity.notes.Moy }}</label></center></td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
                 </div>
             {% endfor %}
             </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>


     </script>
 {% endblock %}