{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Etudiants</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Liste Des Etudiants</span>
    </li>
   </ul>
  </div>
     <div>
         <h1>Liste Des Etudiants</h1>
         <div class="profile-userbuttons">
             <a href="{{ path('mfmm_crm_ajout_etudiant') }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter Etudiant</button></a>
         <div>
     </div>
     {% for niveau in pagination %}
     <div style="padding-top: 50px;">
              <!-- BEGIN CONDENSED TABLE PORTLET-->
              <div class="portlet box red">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="fa fa-picture"></i>{{ niveau.niveau.nom }} </div>
                          <div class="tools">
                              <a href="javascript:;" class="collapse"> </a>
                          </div>
                      </div>
                      <div class="portlet-body" >
                          <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders{{ niveau.niveau.id }}">
                             <thead>
                             <tr role="row" class="heading">
                                 <th>Image</th>
                                 <th>Prénom</th>
                                 <th>Nom</th>
                                 <th>Classe</th>
                                 <th>Action</th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for entity in niveau.etudiants %}
                                 <tr role="row" class="filter">
                                     <td>
                                         {% if entity.user.path==null %}
                                         <img src="{{ asset("image/user/logo.jpg") }}" width="50px;">
                                         {% else %}
                                             <img src="{{ asset("image/user/")~entity.user.path }}" width="50px;">
                                         {% endif %}
                                     </td>
                                     <td>{{ entity.user.prenom }}</td>
                                     <td>{{ entity.user.nom }}</td>
                                     <td>{{ entity.classe.nom }}</td>
                                     <td>
                                         <div class="caption">
                                             <a href="{{ path("mfmm_crm_modifier_etudiant",{'id':entity.user.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Modifier</button></a>
                                             <a href="{{ path("mfmm_crm_supprimer_etudiant",{'id':entity.user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet etudiant?')"> <button class="btn  red btn-outline btn-circle btn-sm">Supprimer</button></a>
                                             <a href="{{ path("mfmm_crm_carte_etudiant",{'id':entity.user.id,'annee':entity.classe.annee.id,'classe':entity.classe.id}) }}" > <button class="btn  yellow btn-outline btn-circle btn-sm">Carte</button></a>
                                             <a href="{{ path("mfmm_crm_Bulletin_etudiant",{'id':entity.user.id,'annee':entity.classe.annee.id,'classe':entity.classe.id}) }}" > <button class="btn  blue btn-outline btn-circle btn-sm">Bulletin</button></a>
                                         </div>
                                     </td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                      </div>
                  </div>
              <!-- END CONDENSED TABLE PORTLET-->
              </div>
     </div>
     {% endfor %}
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
         {% for niveau in pagination %}
             $('#datatable_orders{{ niveau.niveau.id }}').dataTable( {
                     "language": {
                         "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                     }
                 } );
         {% endfor %}

         })
     </script>
 {% endblock %}