{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Home</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Utilisateur</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Liste Classes </span>
    </li>
   </ul>
   <div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div>
  </div>
         <div>
             <h1>Liste Classes {{ user.prenom }} {{ user.nom }}</h1>
             <div class="profile-userbuttons">
                 <a href="{{ path("mfmm_crm_ajout_user_classe",{'id':user.id}) }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter Classe</button></a>
             <div>
         </div>
             <div style="padding-top: 50px;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                         <tr role="row" class="heading">
                             <th> Nom </th>
                             <th> Action </th>
                         </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter">
                             <td>{{ entity.nom }}</td>
                             <td>
                                 <div class="caption">
                                     <a href="{{ path("mfmm_crm_supprimer_user_classe",{'id':entity.id,'user':user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce classe?')"> <button class="btn  red btn-outline btn-circle btn-sm">Supprimer</button></a>
                                 </div>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}