{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Home</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Etudiants</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Absences</span>
    </li>
   </ul>
   <div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 <div class="portlet-body col-sm-12" style="padding-top: 50px;">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-4">
               <label class="control-label">Classe</label>
               {{ form_errors(form.classe)}}
               {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"classe"|trans,'required':'required'}}) }}
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Semestre</label>
               {{ form_errors(form.semestre)}}
               {{ form_widget(form.semestre, {'attr': {'class': 'form-control autocomplete','placeholder':"semestre"|trans,'required':'required'}}) }}
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12 pull-right" style="padding-bottom: 50px;">
               <a href="javascript:;" > <button type="submit" class="btn green">Valider </button></a>
           </div>

      </form>
            <div class="form-group col-sm-12" style="display: {{ display }}">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                        <th>Photos</th>
                         <th> Nom </th>
                         <th> Absence </th>
                         <th> Reste </th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter" >
                             <td>
                              {% if entity.etudiant.path==null %}
                                     <img src="{{ asset("image/user/logo.jpg") }}" width="50px;">
                                     {% else %}
                                         <img src="{{ asset("image/user/")~entity.etudiant.path }}" width="50px;">
                                     {% endif %}
                             </td>
                             <td style="text-align:left;"><div class="form-group form-md-line-input has-success" style="margin:0 0 0px;">
                                     <label for="form_control_1" style="padding-left: 5%;color: #020808;">{{ entity.etudiant.nom }} {{ entity.etudiant.prenom }}</label>
                                 </div></td>
                             <td style="width: 25%;">
                                 <div class="form-group form-md-line-input" style="padding-top: 0px;padding-bottom: 0px;margin-bottom:0px;margin-top: 0px;">
                                       <input type="text" class="form-control" name="etudiant{{ entity.etudiant.id }}" id="etudiant{{ entity.etudiant.id }}" placeholder="Absence" value="{{ entity.absence }}">
                                       <span class="help-block">En train d'écrire...</span>
                                 </div>
                              </td>
                              <td style="width:25%;">
                                 <div class="form-group form-md-line-input has-success">
                                     <label for="form_control_1">il vous reste <span style="color: #660e0b;">{{ 6 - entity.absence }}</span> Absences</label>
                                 </div>
                              </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>

     </script>
 {% endblock %}