{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Home</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Etudiants</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Notes</span>
    </li>
   </ul>
   <div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 <div class="portlet-body col-sm-12" style="padding-top: 50px;">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-6">
               <label class="control-label">Classe</label>
               {{ form_errors(form.classe)}}
               {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"classe"|trans,'required':'required'}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Semestre</label>
               {{ form_errors(form.semestre)}}
               {{ form_widget(form.semestre, {'attr': {'class': 'form-control autocomplete','placeholder':"semestre"|trans,'required':'required'}}) }}
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12 pull-right" style="padding-bottom: 50px;">
               <a href="javascript:;" > <button type="submit" class="btn green">Valider </button></a>
           </div>

      </form>


             <div class="form-group col-sm-12" style="display: {{ display }}">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th> Matières </th>
                         <th> Cc </th>
                         <th>Ex</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter" >
                             <td style="text-align:left;"><center><label for="form_control_1">{{ entity.matiere }}</label></center> </td>
                             <td style="width: 25%;"><center><label for="form_control_1">{{entity.Cc }}</label></center></td>
                             <td style="width: 25%;"><center><label for="form_control_1">{{entity.Ex }}</label></center></td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>

  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>


     </script>
 {% endblock %}