{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Famille de Formation</span>
    </li>
    </ul>
  </div>
  <div>
      <h1>Famille de Formation</h1>
  </div>
  <div class="portlet-body">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-6">
               <label class="control-label">Nom</label>
               {{ form_errors(form.nom)}}
               {{ form_widget(form.nom, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom "|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Nom Arabe</label>
               {{ form_errors(form.nomA)}}
               {{ form_widget(form.nomA, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom filière Arabe"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Nom Anglais</label>
               {{ form_errors(form.nomE)}}
               {{ form_widget(form.nomE, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom "|trans}}) }}
           </div>
           <div class="form-group col-sm-6 ">
               <label class="control-label">Code</label>
               {{ form_errors(form.code)}}
               {{ form_widget(form.code, {'attr': {'class': 'form-control autocomplete','placeholder':"Code"|trans}}) }}
           </div>

      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12"><br>
               <a href="javascript:;" > <button type="submit" class="btn green">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}