{% extends 'base.html.twig' %}


 {% block content %}
 <style>
    .badgebox
    {
        opacity: 0;
    }

    .badgebox + .badge
    {
        /* Move the check mark away when unchecked */
        text-indent: -999999px;
        /* Makes the badge's width stay the same checked and unchecked */
        width: 27px;
    }

    .badgebox:focus + .badge
    {
        /* Set something to make the badge looks focused */
        /* This really depends on the application, in my case it was: */

        /* Adding a light border */
        box-shadow: inset 0px 0px 5px;
        /* Taking the difference out of the padding */
    }

    .badgebox:checked + .badge
    {
        /* Move the check mark back when checked */
        text-indent: 0;
    }
</style>

  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Home</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Emplois de temps</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Gestion des emplois</span>
    </li>
    </ul>
   <div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div>
      <h1>Emplois</h1>
  </div>
  <div class="portlet-body col-sm-12">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-4">
               <label class="control-label">Année</label>
               {{ form_errors(form.annee)}}
               {{ form_widget(form.annee, {'attr': {'class': 'form-control autocomplete','placeholder':"Année"|trans}}) }}
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Classe</label>
               {{ form_errors(form.classe)}}
               {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"Classe"|trans}}) }}
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Semestre</label>
               {{ form_errors(form.semestre)}}
               {{ form_widget(form.semestre, {'attr': {'class': 'form-control autocomplete','placeholder':"Semestre"|trans}}) }}
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Semaine</label>
               {{ form_errors(form.semaine)}}
               {{ form_widget(form.semaine, {'attr': {'class': 'form-control autocomplete','placeholder':"Semaine"|trans}}) }}
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Date début</label>
               <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                   {{ form_errors(form.dateD)}}
                   {{ form_widget(form.dateD, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date début"|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>
           <div class="form-group col-sm-4">
               <label class="control-label">Date fin</label>
               <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                   {{ form_errors(form.dateF)}}
                   {{ form_widget(form.dateF, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date fin"|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>
           <div class="col-sm-12 " style="padding-top: 10%">
               <div class="table-responsive">
                   <table  class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders" >
                       <thead>
                           <tr>
                               <td width="10%;">Jour</td>
                               {% for s in seances%}
                                    <td>{{ s.nom }}</td>
                               {% endfor %}
                           </tr>
                       </thead>
                       <tbody>
                       {% for jour in  jours%}
                         <tr id="{{ jour.id }}">
                            <td width="10%;">{{ jour.nom }}</td>
                            {% for s in seances%}
                                    <td id="{{ s.id }}">
                                        <div class="input-group select2-bootstrap-prepend">
                                                <select name="sel[{{ jour.id }}][{{ s.id }}]" id="{{ jour.id }}{{ s.id }}" class="form-control select2">
                                                    {% for m in matieres%}
                                                        <option value="{{ m.id }}"  name="mat[{{ jour.id }}][{{ s.id }}]">{{ m.nom }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                        <div class="input-group select2-bootstrap-prepend " >
                                                <select style="width: 50%;" name="prof[{{ jour.id }}][{{ s.id }}]" id="{{ jour.id }}{{ s.id }}" class="form-control select2 col-sm-6">
                                                    {% for p in professeurs%}
                                                        <option value="{{ p.id }}"  name="prof[{{ jour.id }}][{{ s.id }}]">{{ p.nom }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                        <label for="pres{{ jour.id }}{{ s.id }}" class="btn btn-success">Présence <input type="checkbox" id="pres{{ jour.id }}{{ s.id }}" class="badgebox"  name="pres{{ jour.id }}{{ s.id }}" checked><span class="badge">&check;</span></label>

                                        <div class="input-group select2-bootstrap-prepend ">
                                                <select style="width: 50%;" name="salle[{{ jour.id }}][{{ s.id }}]" id="{{ jour.id }}{{ s.id }}" class="form-control select2 col-cm-6">
                                                    {% for sa in salles%}
                                                        <option value="{{ sa.id }}"  name="prof[{{ jour.id }}][{{ s.id }}]">{{ sa.nom }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                    </td>
                            {% endfor %}
                        </tr>
                       {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12">
               <a href="javascript:;" > <button type="submit" class="btn green">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $('#{{ form.vars.name }}_dateD').datepicker({
             format: 'yyyy-mm-dd'
         });
         $('#{{ form.vars.name }}_dateF').datepicker({
             format: 'yyyy-mm-dd'
         });
         $('#{{ form.vars.name }}_annee').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee',{id:'aa'}) }}'
             var p=patht.replace('aa',idAnnee)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_annee').ready(function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee',{id:'aa'}) }}'
             var p=patht.replace('aa',idAnnee)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     })
                     fonctionAExecuter()
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_classe').on('change',function(){
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe',{id:'aa'}) }}'
             var p=patht.replace('aa',idClasse)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     {% for jour in  jours%}
                         {% for s in  seances%}
                             $('#'+{{ jour.id*10+s.id }}).empty();
                         {% endfor %}
                     {% endfor %}
                     {% for jour in  jours%}
                     {% for s in  seances%}
                     $('#'+{{ jour.id*10+s.id }}).append($('<option>', {
                         value: 0,
                         text : "Selectionner une matière"
                     }));
                     {% endfor %}
                     {% endfor %}
                     $.each(data, function( index, value ) {
                         {% for jour in  jours%}
                             {% for s in  seances%}
                                $('#'+{{ jour.id*10+s.id }}).append($('<option>', {
                                     value: value.id,
                                     text : value.nom
                                 }));
                             {% endfor %}
                         {% endfor %}
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         function fonctionAExecuter()
         {
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe',{id:'aa'}) }}'
             var p=patht.replace('aa',idClasse)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     {% for jour in  jours%}
                     {% for s in  seances%}
                     $('#'+{{ jour.id*10+s.id }}).empty();
                     {% endfor %}
                     {% endfor %}
                     {% for jour in  jours%}
                     {% for s in  seances%}
                     $('#'+{{ jour.id*10+s.id }}).append($('<option>', {
                         value: 0,
                         text : "Selectionner une matière"
                     }));
                     {% endfor %}
                     {% endfor %}
                     $.each(data, function( index, value ) {
                         {% for jour in  jours%}
                         {% for s in  seances%}
                         $('#'+{{ jour.id*10+s.id }}).append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                         {% endfor %}
                         {% endfor %}
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         }
         $('#{{ form.vars.name }}_date').datepicker({
             format: 'yyyy-mm-dd'
         });


     </script>
 {% endblock %}