{% extends 'base.html.twig' %}

 {% block content %}
 <style>
    .badgebox
    {
        opacity: 0;
    }

    .badgebox + .badge
    {
        /* Move the check mark away when unchecked */
        text-indent: -999999px;
        /* Makes the badge's width stay the same checked and unchecked */
        width: 27px;
    }

    .badgebox:focus + .badge
    {
        /* Set something to make the badge looks focused */
        /* This really depends on the application, in my case it was: */

        /* Adding a light border */
        box-shadow: inset 0px 0px 5px;
        /* Taking the difference out of the padding */
    }

    .badgebox:checked + .badge
    {
        /* Move the check mark back when checked */
        text-indent: 0;
    }
</style>
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Home</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Emplois de temps</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Gestion des emplois</span>
    </li>
   </ul>
   <div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div>
  </div>
     <div>
         <h1>Gestion des Emplois</h1>
     </div>
     <div style="padding-top: 2%;">
       <div class="portlet-body col-sm-12">
          <form role="form" action="{{ path("mfmm_crm_modifier_emplois",{'classe':classe,'dateD':dateD|date('y-m-d')}) }}" method="post">
              {{ form_widget(form._token) }}
                   <div class="form-group col-sm-4">
                       <label class="control-label">Année</label>
                       {{ form_errors(form.annee)}}
                       {{ form_widget(form.annee, {'attr': {'class': 'form-control autocomplete','placeholder':"Année"|trans,'disabled':'disabled'}}) }}
                   </div>
                   <div class="form-group col-sm-4">
                       <label class="control-label">Classe</label>
                       {{ form_errors(form.classe)}}
                       {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"Classe"|trans,'disabled':'disabled'}}) }}
                   </div>
                   <div class="form-group col-sm-4">
                       <label class="control-label">Semestre</label>
                       {{ form_errors(form.semestre)}}
                       {{ form_widget(form.semestre, {'attr': {'class': 'form-control autocomplete','placeholder':"Semestre"|trans,'disabled':'disabled'}}) }}
                   </div>
                   <div class="form-group col-sm-4">
                       <label class="control-label">Semaine</label>
                       {{ form_errors(form.semaine)}}
                       {{ form_widget(form.semaine, {'attr': {'class': 'form-control autocomplete','placeholder':"Semaine"|trans,'disabled':'disabled'}}) }}
                   </div>
                   <div class="form-group col-sm-4">
                       <label class="control-label">Date début</label>
                       <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                           {{ form_errors(form.dateD)}}
                           {{ form_widget(form.dateD, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date début"|trans,'disabled':'disabled'}}) }}
                           <span class="input-group-btn">
                               <button class="btn btn-sm default" type="button">
                                   <i class="fa fa-calendar"></i>
                               </button>
                           </span>
                       </div>
                   </div>
                   <div class="form-group col-sm-4">
                       <label class="control-label">Date fin</label>
                       <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                           {{ form_errors(form.dateF)}}
                           {{ form_widget(form.dateF, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date fin"|trans,'disabled':'disabled'}}) }}
                           <span class="input-group-btn">
                               <button class="btn btn-sm default" type="button">
                                   <i class="fa fa-calendar"></i>
                               </button>
                           </span>
                       </div>
                   </div>
                   <div class="col-sm-12 " style="padding-top: 5%">
                       <div class="table-responsive">
                           <table  class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders" >
                               <thead>
                                   <tr>
                                       <td width="10%;">Jour</td>
                                       {% for s in seances%}
                                            <td>{{ s.nom }}</td>
                                       {% endfor %}
                                   </tr>
                               </thead>
                               <tbody>
                               {% for ligne in  pagination%}
                                 <tr id="{{ ligne.jour.id }}">
                                    <td width="10%;">{{ ligne.jour.nom }}</td>
                                    {% for s in ligne.seances%}
                                            <td>
                                                <div class="input-group select2-bootstrap-prepend">
                                                    <select class="form-control select2" name="sel[{{ ligne.jour.id }}][{{ s.seance.id }}]" id="{{ ligne.jour.id }}{{ s.seance.id }}">
                                                        <option value="0"  name="mat[{{ ligne.jour.id }}][{{ s.seance.id }}]" selected>Selectionner une matière</option>
                                                        {% for m in matieres %}
                                                            {% if m == null %}
                                                               {% set selected='' %}
                                                            {% else %}
                                                                {% if s.matiere!=null %}
                                                                    {% if m.id == s.matiere.id %}
                                                                        {% set selected='selected' %}
                                                                    {% else %}
                                                                        {% set selected='' %}
                                                                    {% endif %}
                                                                    <option value="{{ m.id }}"  name="mat[{{ ligne.jour.id }}][{{ s.seance.id }}]" {{ selected }}>{{ m.nom }}</option>
                                                                {% else %}
                                                                    {% set selected='' %}
                                                                    <option value="{{ m.id }}"  name="mat[{{ ligne.jour.id }}][{{ s.seance.id }}]" {{ selected }}>{{ m.nom }}</option>
                                                                {% endif %}
                                                            {% endif %}

                                                        {% endfor %}
                                                    </select>
                                                    <select class="form-control select2" name="prof[{{ ligne.jour.id }}][{{ s.seance.id }}]" id="{{ ligne.jour.id }}{{ s.seance.id }}">
                                                        <option value="0"  name="mat[{{ ligne.jour.id }}][{{ s.seance.id }}]" selected>Selectionner un Professeur</option>
                                                        {% for p in professeurs %}
                                                            {% if p == null %}
                                                               {% set selected='' %}
                                                            {% else %}
                                                                {% if s.prof!=null %}
                                                                    {% if p.id == s.prof.id %}
                                                                        {% set selected='selected' %}
                                                                    {% else %}
                                                                        {% set selected='' %}
                                                                    {% endif %}
                                                                    <option value="{{ p.id }}"  name="prof[{{ ligne.jour.id }}][{{ s.seance.id }}]" {{ selected }}>{{ p.nom }}</option>
                                                                {% else %}
                                                                    {% set selected='' %}
                                                                    <option value="{{ p.id }}"  name="prof[{{ ligne.jour.id }}][{{ s.seance.id }}]" {{ selected }}>{{ p.nom }}</option>
                                                                {% endif %}
                                                            {% endif %}

                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                 <select class="form-control select2" name="salle[{{ ligne.jour.id }}][{{ s.seance.id }}]" id="{{ ligne.jour.id }}{{ s.seance.id }}" >
                                                        <option value="0"  name="salle[{{ ligne.jour.id }}][{{ s.seance.id }}]" selected>Selectionner une Salle</option>
                                                        {% for sa in salles %}
                                                            {% if sa == null %}
                                                               {% set selected='' %}
                                                            {% else %}
                                                                {% if s.salle!=null %}
                                                                    {% if sa.id == s.salle.id %}
                                                                        {% set selected='selected' %}
                                                                    {% else %}
                                                                        {% set selected='' %}
                                                                    {% endif %}
                                                                    <option value="{{ sa.id }}"  name="salle[{{ ligne.jour.id }}][{{ s.seance.id }}]" {{ selected }}>{{ sa.nom }}</option>
                                                                {% else %}
                                                                    {% set selected='' %}
                                                                    <option value="{{ sa.id }}"  name="salle[{{ ligne.jour.id }}][{{ s.seance.id }}]" {{ selected }}>{{ sa.nom }}</option>
                                                                {% endif %}
                                                            {% endif %}

                                                        {% endfor %}
                                                    </select>
                                                     {% if s.emplois.present==1 %}
                                                        {% set check="checked" %}
                                                    {% else %}
                                                        {% set check="" %}
                                                    {% endif %}
                                                    <label for="pres{{ligne.jour.id }}{{ s.seance.id }}" class="btn btn-success">Présence <input type="checkbox" id="pres{{ligne.jour.id }}{{ s.seance.id }}" class="badgebox"  name="pres{{ligne.jour.id }}{{ s.seance.id }}" {{ check }}><span class="badge">&check;</span></label>

                                            </td>
                                    {% endfor %}
                                </tr>
                               {% endfor %}
                               </tbody>
                           </table>
                       </div>
                   </div>
              {{ form_rest(form) }}

           <div class="portlet-body util-btn-margin-bottom-5" >
                <div class="tab-content">
                    <div class="tab-pane active pull-right" id="dropdown_fontawesome">
                        <div class="clearfix">
                            <button  class="btn red" type="submit"> Modifier
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>
           </div>
           </form>
       </div>
     </div>
  </div>
 {% endblock %}
  {% block javascripts %}
 {% endblock %}