{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Niveaux</span>
    </li>
    </ul>
   <!--div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li> 
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div--> 
   <div class="clearfix"></div>
  <div>
      <h1>Niveau</h1>
  </div>
  <div class="portlet-body ">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-6">
               <label class="control-label">Nom Niveau</label>
               {{ form_errors(form.nom)}}
               {{ form_widget(form.nom, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom niveau"|trans}}) }}
           </div>
          <div class="form-group col-sm-6">
              <label class="control-label">Nom Niveau Arabe</label>
              {{ form_errors(form.nomA)}}
              {{ form_widget(form.nomA, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom filière Arabe"|trans}}) }}
          </div>
          <div class="form-group col-sm-6">
              <label class="control-label">Nom Niveau Anglais</label>
              {{ form_errors(form.nomE)}}
              {{ form_widget(form.nomE, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom filière Anglais"|trans}}) }}
          </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-6"><br>
               <a href="javascript:;" > <button type="submit" class="btn green">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}