{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Niveaux</span>
    </li>
   </ul>
   <!--div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div-->
  </div>
     <div>
         <h1>Gestion des Niveaux</h1>
         <div class="profile-userbuttons">
             <a href="{{ path('mfmm_crm_ajout_niveau') }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter un Niveau</button></a>
         <div>
     </div>
             <div style="padding-top: 1%;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                         <tr class="heading">
                             <th colspan="2"> Nom </th>
                             <th> Action </th>
                         </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr class="filter">
                             <td colspan="2">{{ entity.nom }}</td>
                             <td>
                                 <div class="caption">
                                    <a href="{{ path('mfmm_crm_modifier_niveau',{'id':entity.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Modifier</button></a>
                                    <a href="{{ path('mfmm_crm_supprimer_niveau',{'id':entity.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce niveau?')"> <button class="btn  red btn-outline btn-circle btn-sm">Supprimer</button></a>
                                 </div>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>

                 </table>
             </div>
     </div>
 {% endblock %}