<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PDF{% endblock %}</title>
        {% block stylesheets %}
              <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="{{absolute_url( asset("assets/global/plugins/font-awesome/css/font-awesome.min.css") )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/simple-line-icons/simple-line-icons.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap/css/bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css") )}}" rel="stylesheet" type="text/css" />
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN THEME GLOBAL STYLES -->
            <link href="{{absolute_url( asset("assets/global/css/components.css")) }}" rel="stylesheet" id="style_components" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/css/plugins.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME GLOBAL STYLES -->
            <!-- BEGIN THEME LAYOUT STYLES -->
            <link href="{{ absolute_url(asset("assets/layouts/layout/css/layout.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url( asset("assets/layouts/layout/css/themes/light2.css") )}}" rel="stylesheet" type="text/css" id="style_color" />
            <link href="{{absolute_url( asset("assets/layouts/layout/css/custom.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME LAYOUT STYLES -->
            <!--BEGIN Date picker -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END DATEPICKER-->
            <!--BEGIN DATATABLE -->
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/datatables.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <!--END DATA TABLE-->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2.min.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")) }}" rel="stylesheet" type="text/css" />
            <!-- BEGIN PAGE LEVEL STYLES -->
            <link href="{{ absolute_url(asset("assets/pages/css/profile-2.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL STYLES -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/ladda/ladda-themeless.min.css')) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-summernote/summernote.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/lib/codemirror.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neat.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/ambiance.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/material.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neo.css')) }}" rel="stylesheet" type="text/css" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico') )}}" />
    </head>
    <body>
            <div class="jumbotron " >
                <center><h3 class="col-sm-6 pull-right" style="color: #0e4788;width: 500px;margin-left: 220px;margin-top: 30px;">Institut Méditerranéen De Formation Aux Métiers Maritimes</h3></center>

                <img src="{{ absolute_url(asset("assets/layouts/layout/img/logo.png")) }}" alt="logo" class="logo-default col-sm-6 " style="width: 200px;margin-top: -17%;"/>
            </div>
            <div class="container" style="height: 100%;">
            <div class="" style="margin-bottom: 10%;" >
                <center><strong><h2>Attestation de présence <br>{{ classe?classe.filiere.annee.nom }}</h2></strong></center>
                 <center><h4>Le Directeur Général de l’Institut Méditerranéen de Formation</h4></center>
                 <br>
                <p>aux Métiers Maritimes n’atteste que le stagiaire:</p>
                <p style="margin-left: 10%;">Nom : {{ user.nom }}</p>
                <p style="margin-left: 10%;">Prénom : {{ user.prenom }}</p>
                <p style="margin-left: 10%;">Née le : {{ user.dateNaissance|date('Y-m-d') }}</p>
                <p style="margin-left: 10%;">Titulaire de la CIN N° : {{ user.cin }}</p>
                <p>Inscrite dans la spécialité {{ classe?classe.nom }} sous le
                    numéro 503002, poursuit les cours dans la spécialité citée ci-dessus et ce
                    au titre de l’année scolaire {{ classe?classe.filiere.annee.nom }}.<br>
                    Cette attestation est délivrée à l’intéressé pour servir et valoir ce que droit.</p>
                <br><br><br>
                <h5>Fait à Radés, {{ "now"|date("Y-m-d") }}</h5>
                <center><strong style="float: right;"><h4>Directeur Général <br>Imed Zammit</h4></strong></center>


            </div>
        </div>

    </body>

</html>
