<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>{% block title %}BOCR{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico') )}}" />
    </head>
    <body >
    <div style="border: 2px solid ;border-color: black;padding: 2%;height: 650px;">
        <div class=" " >
            <img src="{{ absolute_url(asset("assets/layouts/layout/img/header.jpg")) }}" alt="logo" class="logo-default col-sm-6 " style="width: 100%;"/>
        </div>
        <div class="col-sm-12" style="height: 100%;">
            <div class="col-sm-12" style="margin-bottom: 10%;background-image: url({{ absolute_url(asset("image/logo.png")) }})!important;background-size: 30% 40%;background-repeat: no-repeat;background-position: center; background-attachment: fixed;" >
                <center><strong><a style="font-size: 16px;font-weight: bold;font-family: arial-black;">شهادة تدريب أساسي على العمليات المتعلقة بالبضائع على متن ناقلات الزيت و ناقلات الكيميائيات للبحارةاط
                            <br></a></strong>
                </center>
                <center><a style="font-size: 14px;font-weight: bold;font-family: arial-black;">BASIC TRAINING FOR OIL AND CHEMICAL TANKER CARGO OPERATIONS CERTIFICATE FOR RATING</a></center>
                <center><a style="font-size: 11px;font-weight: bold;font-family: arial-black;">«NAttest»/BOCR/2018</a></center>
                <br>
                <div class="col-sm-12" style='padding-left: 5%;padding-right: 5%;'>
                    <div class="col-sm-6" style="width: 50%;float: left;height: 263px;">
                        <strong style="font-size: 11px;font-family: Arial;">
                            The General Manager of the Mediterranean Maritime Training Institute<br> certifies that:</strong>

                            <br><a style="font-size: 11px;font-family: Arial;"><strong>Mr :</strong> {{ user.nomE }} {{ user.prenomE }}</a>
                            <br><a style="font-size: 11px;font-family: Arial;"><strong>Born on :</strong>{{ user.datenaissance|date('Y-M-D') }}</a>
                            <br><a style="font-size: 11px;font-family: Arial;"><strong>Holder of ID number :</strong> {{ user.cin }}</a>
                            <br><a style="font-size: 11px;font-family: Arial;"><strong>Nationality :</strong> Tunisian</a>

                        </a>
                        <p style="font-size: 11px;font-family: Arial;">Has successfully completed a training course on <strong>basic training for oil and chemical tanker cargo operations for rating.</strong>from 05 to 07 July 2017.</p>
                        <p style="font-size: 11px;font-family: Arial;">The present certificate has established in accordance with the provisions of regulation V/1-1 from paragraph 1 to paragraph 2 ,the section A-V/1-1 paragraph 1 and the table V/-1-1-1 of the international convention on standards of training, certification and watch keeping 1978(STCW), as amended.</p>
                        <p style="margin-left: 30%;margin-top: 0%;font-family: Arial;font-size: 11px;"><strong>Tunis on </strong>{{ "now"|date("m/d/Y") }}
                        </p>
                    </div>
                    <div class="col-sm-6" style="width: 50%;float: right;height: 263px;">
                        <strong style="font-size: 11px;font-family: Arial;"><a style="float: right;">يشهد المدير العـــام للمعهد المتوسطــي للتكــوين في المـهن البحريـة</a></strong>
                            <br><strong><a style="float: right;font-size: 11px;font-family: Arial;">:بأن</a></strong>
                            <br><a style="float: right;font-size: 11px;font-family: Arial;"><strong> السيد   :</strong>{{ user.nomA }} {{ user.prenomA }}</a>
                            <br><a style="float: right;font-size: 11px;font-family: Arial;">{{ user.datenaissance|date('Y-m-d') }}<strong> : المولود في  «تاريخ</strong></a>
                            <br><a style="float: right;font-size: 11px;font-family: Arial;">{{ user.cin }}<strong> : صـاحب ب.ت.و عــدد</strong></a>
                            <br><a style="float: right;font-size: 11px;font-family: Arial;">تـونسيـة <strong>: الجنسيــة</strong></a>

                        <p style="float: right;font-size: 12px;font-family: Arial;" align="right" dir="rtl" lang="ar">
                            قد تابع بنجاح من 05 إلى 07 جويلية 2017  التكوين  للحصول على<strong>الشهادة  التدريب الأساسي على العمليات المتعلقة بالبضائع على متن ناقلات الزيت و ناقلات الكيميائيات للبحارة</strong>حسب ما تقتضيه أحكام اللائحة/V 1-1 من الفقرة 1 إلى الفقرة <br>2 و الجزء ألف-/V 1-1 من الفقرة 1 و الجدول ألف -/V 1-1-1 من الاتفاقية الدولية لمعايير التدريب والإجازة والخفارة للملاحين لسنة 1978 كما هي معدلة.
                        </p>
                        <p style="margin-left: 30%;margin-top: 33%;font-family: Arial;font-size: 11px;"><strong>تونس في  </strong>{{ "now"|date("m/d/Y") }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-12" >
                    <br>
                    <center><a style="font-size: 14px;font-weight: bold;color: #002240;font-family:Arial" >المدير العام للمعهد المتوسطي للتكوين في المهن البحرية</a></center>
                    <center><a style="font-size: 11px;font-weight: bold;color: #002a80;font-family: Arial;">General Manager of the Mediterranean Maritime Training Institute</a></center>
                    <center><a style="font-size: 11px;font-weight: bold;color: #002a80;font-family: Arial;">Imed ZAMMIT</a></center>
                    <br>
                    <hr>
                    <center><a style="font-size: 9px;color: #0077aa;font-family: Calibri;">Adresse : Bâtiment OMMP - Port de Radès - 2040 Rades – Tunisie - Fax : +216 71 469 954 / Tél.: +216 71 469 956</a></center>
                </div>

            </div>
        </div>
    </div>

    </body>
</html>
