<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>{% block title %}BT{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico') )}}" />
    </head>
    <body >
    <div style="border: 2px solid ;border-color: black;padding: 2%;height: 650px;">
        <div class=" " >
            <img src="{{ absolute_url(asset("assets/layouts/layout/img/header.jpg")) }}" alt="logo" class="logo-default col-sm-6 " style="width: 100%;"/>
        </div>
        <div class="col-sm-12" style="height: 100%;background-image: url({{ absolute_url(asset("image/logo.png")) }})!important;background-size: 30% 40%;background-repeat: no-repeat;background-position: center; background-attachment: fixed;">
            <div class="col-sm-12" style="margin-bottom: 10%;" >
                <center><strong><a style="font-size: 16px;font-weight: bold;font-family: arial-black;" dir="rtl">شهـــادة فــي التكــوين لتدريب الأســـاسي
                            <br></a></strong>
                </center>
                <center><a style="font-size: 14px;font-weight: bold;font-family: Calibri;">BASIC TRAINING CERTIFICATE </a></center>
                <center><a style="font-size: 11px;font-weight: bold;font-family: Arial">«NAttest»/BT/2018</a></center>
                <br>
                <div class="col-sm-12" style='padding-left: 5%;padding-right: 5%;' >
                    <div class="col-sm-6" style="width: 50%;float: left;height: 260px;">
                        <strong style="font-size: 11px;font-family: arial-black;">The General Manager of the Mediterranean Maritime Training Institute <br> certifies that:</strong>
                        <br><strong style="font-size: 11px;font-family: arial-black;">Mr :</strong><a style="font-size: 11px;font-family: arial-black;"> {{ user.nomE }} {{ user.prenomE }}</a>
                        <br><strong style="font-size: 11px;font-family: arial-black;" >Holder of ID number : </strong><a style="font-size: 11px;font-family: arial-black;"> {{ user.cin }} </a>
                        <br><strong style="font-size: 11px;font-family: arial-black;">Nationality :</strong><a style="font-size: 11px;font-family: arial-black;"> Tunisian</a>

                        <p style="font-size: 11px;font-family: arial-black;">Has successfully completed a training course on<strong>Advanced Fire Fighting</strong>  from 09 to 11 February 2018.</p>
                        <p style="font-size: 11px;font-family: arial-black;">The present certificate has established in accordance with the provisions
                            The present certificate has established in accordance with the provisions of regulation VI/3 and the section A-VI/3 of the international convention on standards of training, certification and watch keeping 1978(STCW), as amended.</p>
                        <p style="margin-left: 30%;font-size: 11px;font-family: Arial;"><strong>Tunis on </strong>{{ "now"|date("m/d/Y") }}
                        </p>
                    </div>
                    <div class="col-sm-6" style="width: 50%;float: right;height: 260px;">
                        <strong style="font-size: 11px;font-family: arial-black;"><a style="float: right;">يشهد المدير العـــام للمعهد المتوسطــي للتكــوين في المـهن البحريـة</a></strong>
                            <br><a style="float: right;font-size: 11px;font-family: arial-black;"><strong>:بأن</strong></a>
                            <br><a style="float: right;font-size: 11px;font-family: arial-black;"><strong> السيد   :</strong>{{ user.nomA }} {{ user.prenomA }}</a>
                            <br><a style="float: right;font-size: 11px;font-family: arial-black;">{{ user.cin }}<strong> : صـاحب ب.ت.و عــدد</strong></a>
                            <br><a style="float: right;font-size: 11px;font-family: arial-black;"><strong> الجنسيــة:</strong>  تـونسيـة </a>

                        <p style="float: right;font-size: 12px;font-family: Arial;" align="right" dir="rtl" lang="ar">
                            قد تابع بنجاح من 09 إلى 11 فيفري 2018 التكويـن للحصـول على<strong>شهــادة التدريـب  على الإطفـاء المتقـدم للحرائـق</strong> حسب ما تقتضيه أحكام اللائحة/VI 3 و الجزء ألف-/VI 3 من الاتفاقية الدولية لمعايير التدريب والإجازة والخفارة للملاحين لسنة 1978 كما هي معدلة.
                        </p>
                        <p style="margin-left: 30%;margin-top: 30%;font-size: 11px;font-family: arial-black;"><strong>تونس في  </strong>{{ "now"|date("m/d/Y") }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <center><a style="font-size: 14px;font-weight: bold;color: #002240;font-family:Arial">المدير العام للمعهد المتوسطي للتكوين في المهن البحرية</a></center>
                    <center><a style="font-size: 11px;font-weight: bold;color: #002a80;font-family: Arial;">General Manager of the Mediterranean Maritime Training Institute</a></center>
                    <center><a style="font-size: 11px;font-weight: bold;color: #002a80;font-family: Arial;">Imed ZAMMIT</a></center>
                    <br>
                    <hr>
                    <center><a style="font-size: 9px;color: #0077aa;font-family: Calibri;">Adresse : Bâtiment OMMP - Port de Radès - 2040 Rades – Tunisie - Fax : +216 71 469 954 / Tél.: +216 71 469 956</a></center>
                </div>

            </div>
        </div>
    </div>

    </body>
</html>
