<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Carte{% endblock %}</title>
        {% block stylesheets %}
              <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="{{absolute_url( asset("assets/global/plugins/font-awesome/css/font-awesome.min.css") )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/simple-line-icons/simple-line-icons.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap/css/bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css") )}}" rel="stylesheet" type="text/css" />
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN THEME GLOBAL STYLES -->
            <link href="{{absolute_url( asset("assets/global/css/components.css")) }}" rel="stylesheet" id="style_components" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/css/plugins.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME GLOBAL STYLES -->
            <!-- BEGIN THEME LAYOUT STYLES -->
            <link href="{{ absolute_url(asset("assets/layouts/layout/css/layout.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url( asset("assets/layouts/layout/css/themes/light2.css") )}}" rel="stylesheet" type="text/css" id="style_color" />
            <link href="{{absolute_url( asset("assets/layouts/layout/css/custom.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME LAYOUT STYLES -->
            <!--BEGIN Date picker -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END DATEPICKER-->
            <!--BEGIN DATATABLE -->
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/datatables.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <!--END DATA TABLE-->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2.min.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")) }}" rel="stylesheet" type="text/css" />
            <!-- BEGIN PAGE LEVEL STYLES -->
            <link href="{{ absolute_url(asset("assets/pages/css/profile-2.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL STYLES -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/ladda/ladda-themeless.min.css')) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-summernote/summernote.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/lib/codemirror.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neat.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/ambiance.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/material.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neo.css')) }}" rel="stylesheet" type="text/css" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico') )}}" />
    </head>
    <body>
        <div style="border-color: black;border-style: solid;">
            <div class="col-sm-12">
                <center><strong><h3 class="pull-left" style="color: black;margin-left: 35%;">Carte de Stagiaire<br>{{ annee.nom }}</h3></strong></center>
                {% if user.path==null %}
                    <img src="{{ absolute_url(asset("image/user/logo.jpg")) }}" width="100px;" style="float: right;margin-top: 2%;">
                {% else %}
                    <img src="{{absolute_url( asset("image/user/")~user.path) }}" width="100px;" style="float: right;margin-top: 2%;">
                {% endif %}
            </div>
            <div class="col-sm-12" style="margin-left: 0%;margin-top: 20%;margin-bottom: 5%;">
                <strong><a  style="color: black;">Nom et Prénom :</a></strong>{{ user.nom }} {{ user.prenom }}<br>
                <strong><a  style="color: black;">Date et Lieu de Naissance :</a> </strong>{{ user.datenaissance|date('Y-m-d') }} {{ user.lieunaissance }}<br>
                <strong><a  style="color: black;">N° CIN :</a></strong>{{ user.cin }}<br>
                <strong><a  style="color: black;">Matricule :</a></strong>{{ classe.code }}{{ user.id }}<br>
                <strong><a  style="color: black;">Spécialité :</a></strong>{{ classe.nom }}<br>

            </div>
        </div>
    </body>

</html>
