<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PDF{% endblock %}</title>
        {% block stylesheets %}
              <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="{{absolute_url( asset("assets/global/plugins/font-awesome/css/font-awesome.min.css") )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/simple-line-icons/simple-line-icons.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap/css/bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css") )}}" rel="stylesheet" type="text/css" />
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN THEME GLOBAL STYLES -->
            <link href="{{absolute_url( asset("assets/global/css/components.css")) }}" rel="stylesheet" id="style_components" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/css/plugins.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME GLOBAL STYLES -->
            <!-- BEGIN THEME LAYOUT STYLES -->
            <link href="{{ absolute_url(asset("assets/layouts/layout/css/layout.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url( asset("assets/layouts/layout/css/themes/light2.css") )}}" rel="stylesheet" type="text/css" id="style_color" />
            <link href="{{absolute_url( asset("assets/layouts/layout/css/custom.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME LAYOUT STYLES -->
            <!--BEGIN Date picker -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END DATEPICKER-->
            <!--BEGIN DATATABLE -->
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/datatables.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <!--END DATA TABLE-->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2.min.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")) }}" rel="stylesheet" type="text/css" />
            <!-- BEGIN PAGE LEVEL STYLES -->
            <link href="{{ absolute_url(asset("assets/pages/css/profile-2.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL STYLES -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/ladda/ladda-themeless.min.css')) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-summernote/summernote.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/lib/codemirror.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neat.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/ambiance.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/material.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neo.css')) }}" rel="stylesheet" type="text/css" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico') )}}" />
    </head>
    <body>
            <div class="jumbotron " >
                <center><h3 class="col-sm-6 pull-right" style="color: #0e4788;width: 500px;margin-left: 220px;margin-top: 30px;">Institut Méditerranéen De Formation Aux Métiers Maritimes</h3></center>

                <img src="{{ absolute_url(asset("assets/layouts/layout/img/logo.png")) }}" alt="logo" class="logo-default col-sm-6 " style="width: 200px;margin-top: -17%;"/>
            </div>
            <div class="container" style="height: 100%;">
            <div class="" style="margin-bottom: 10%;" >
                <center><strong><h4 style="color: #0e4788;">CONVENTION <br>D’ANIMATIOND’UN MODULE DE FORMATION INITIALE</h4></strong></center>
                <h4>ENTRE LES SOUSSIGNES :</h4>
                <p><strong>L’ INSTITUT MEDITERRANEEN DE FORMATION AUX MÉTIERS MARITIMES</strong> dont le siège social est sis à la rue
                    de Marseille, Port de Radès, Bâtiment OMMP, 2040 Ben Arous, représenté par son Directeur
                    Général Monsieur Imed ZAMMIT, ci-après dénommé <strong>« IMFMM »</strong></p>
                <strong><a class="pull-right" style="margin-top: -3%;color: black;" >D’une part</a></strong><br>
                <strong><a class="pull-left" style="color: black;margin-top: -3%;">ET</a></strong>
                <p style="margin-top: -1%;">{{ user.nom }} {{ user.prenom }} titulaire de la carte d’identité nationale N°{{ user.cin }} délivrée le 05/07/2005
                    demeurant ci-après dénommé <strong>«le formateur»</strong></p>
                <strong><a class="pull-right" style="margin-top: -3%;color: black;">D’autre part</a></strong>
                <strong><a class="pull-left" style="color: black;">Article1</a></strong><br>
                <p style="margin-top: 5px;"><strong>Le formateur </strong>s’engage, par la présente, à dispenser le module <strong>« Notions de mathématiques
                    et physique»</strong>, dans le cadre des programmes de formations initiales spécialité <strong>« Capitaine
                    Côtier 2ème Promotion »</strong> organisées par l’<strong>IMFMM</strong>.</p>
                <strong><a class="pull-left" style="color: black;margin-top: -2%;">Article2</a></strong><br>
                <p style="margin-top: -5px;">Un emploi du temps est établi par document séparé et arrêté par les deux parties.</p>
                <strong><a class="pull-left" style="color: black;margin-top: -2%;">Article3</a></strong><br>
                <p style="margin-top: -5px;">Le <strong>formateur</strong> s’engage à :<br>
                    <div style="margin-left: 5%;margin-top: -10px;">
                    - Remettre la fiche de préparation du cours et la fiche déroulement de cours avec tout les
                    supports nécessaires avant de commencer la 1èr séance (en pièce jointe) .<br>
                    - Remplir le journal de présence et le journal de formation conformément au référentiel à
                    chaque fin de séance.<br>
                    - Prévenir avant 24h en cas d&#39;absence pour que la direction de formation puisse le
                    remplacer.<br>
                    - Respecter rigoureusement les horaires communiqués par la direction de formation.<br>
                    - Respecter le référentiel procuré au niveau des thèmes et du volume horaire.<br>
                    - Corriger l&#39;évaluations et donner la feuille de note après une semaine maximum.<br>
                    </div></p>
                <strong><a class="pull-left" style="color: black;margin-top: -2%;">Article4</a></strong><br>
                <p style="margin-top: -5px;"><strong>IMFMM</strong> s’engage à :<br>
                <div style="margin-left: 5%;margin-top: -10px;">
                    - Fournir au formateur le matériel pédagogique nécessaire pour le déroulement de
                    chaque séance.<br>
                    - Régler le paiement des honoraires des formateurs dans un délai ne dépassant pas les
                    14 jours ouvrables à partir de la date de la remise de la feuille de note au service
                    concerné.
                </div></p>
                <strong><a class="pull-left" style="color: black;margin-top: -2%;">Article5</a></strong><br>
                <p style="margin-top: -5px;">
                    Les honoraires du formateur sont payés à la fin du module selon le tarif suivant : 11,764<strong>dinars l’heure</strong> . Une retenue de 15% sera effectuée selon la réglementation en vigueur
                </p>
                <strong><a class="pull-left" style="color: black;margin-top: -2%;">Article6</a></strong><br>
                <p style="margin-top: -5px;">
                    La présente convention fait foi à partir de sa date de signature.
                </p>
                <strong><a class="pull-left" style="color: black;margin-top: -2%;">Rades le ...</a></strong><br>
                <strong><a class="pull-left" style="color: black;">Le directeur général</a></strong>
                <strong><a class="pull-right" style="color: black;">Le Formateur</a></strong><br>
                <strong><a class="pull-left" style="color: black;margin-left: 3%;">Imed Zammit</a></strong><br>



            </div>
        </div>

    </body>

</html>
