<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>{% block title %}ERM{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico') )}}" />
    </head>
    <body >
    <div style="border: 8px double ;border-color: #002D57;padding: 2%;height: 600px;">
        <div class=" " >
            <img src="{{ absolute_url(asset("assets/layouts/layout/img/header1.jpg")) }}" alt="logo" class="logo-default col-sm-6 " style="width: 100%;"/>
        </div>
        <div class="col-sm-12" style="height: 100%;background-image: url({{ absolute_url(asset("image/logo.png")) }})!important;background-size: 30% 40%;background-repeat: no-repeat;background-position: center; background-attachment: fixed;">
            <div class="col-sm-12" style="margin-bottom: 10%;" >

                <center><a style="font-size: 11px;font-weight: bold;font-family: Arial">01/ERM/2018</a></center>
                <br>
                <div class="col-sm-12" style='padding-left: 5%;padding-right: 5%;' >
                    <div class="col-sm-12" style="width: 100%;float: left;height: 260px;">
                        <strong style="font-size: 14px;font-family: arial-black;">The General Director of the Mediterranean Maritime Training Institute certifies that:</strong>
                        <br><strong style="font-size: 14px;font-family: arial-black;">Mr :</strong><a style="font-size: 14px;font-family: arial-black;"> {{ user.nomE }} {{ user.prenomE }}</a>
                        <br><a style="font-size: 14px;font-family: Arial;"><strong>Born on :</strong>{{ user.datenaissance|date('Y-M-D') }}</a>
                        <br><strong style="font-size: 14px;font-family: arial-black;" >Holder of ID number : </strong><a style="font-size: 14px;font-family: arial-black;"> {{ user.cin }} </a>
                        <br><strong style="font-size: 14px;font-family: arial-black;">Nationality :</strong><a style="font-size: 14px;font-family: arial-black;"> Tunisian</a>

                        <p style="font-size: 14px;font-family: arial-black;">Has successfully completed a training course on <strong> Engine Resource Management (ERM)</strong> from <strong>11/03/2018</strong>   to <strong>15/03/2018</strong>, in accordance with IMO’s guidelines and IMO Model Course 2.07.</p>
                        <p style="font-size: 14px;font-family: arial-black;">The present certificate has established in accordance with the regulation A-III/1 of the international convention on standards of training, certification and watch keeping 1978(STCW), as amended. </p>
                    </div>
                    <div style="margin-left: 50%;">
                        <center><a style="font-family: Arial;font-size: 12px;color: #002D57;font-weight: bold;">Issued on 25/12/2017<br>
                                General Manager<br>
                                Imed ZAMMIT</a></center>
                    </div>
                    <br>
                    <hr>
                    <center><a style="font-size: 9px;color: #0077aa;font-family: Calibri;">Adresse : Bâtiment OMMP - Port de Radès - 2040 Rades – Tunisie - Fax : +216 71 469 954 / Tél.: +216 71 469 956</a></center>

                </div>


            </div>
        </div>
    </div>

    </body>
</html>
