<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Fiche de Renseignement{% endblock %}</title>
        {% block stylesheets %}
              <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="{{absolute_url( asset("assets/global/plugins/font-awesome/css/font-awesome.min.css") )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/simple-line-icons/simple-line-icons.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap/css/bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css") )}}" rel="stylesheet" type="text/css" />
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN THEME GLOBAL STYLES -->
            <link href="{{absolute_url( asset("assets/global/css/components.css")) }}" rel="stylesheet" id="style_components" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/css/plugins.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME GLOBAL STYLES -->
            <!-- BEGIN THEME LAYOUT STYLES -->
            <link href="{{ absolute_url(asset("assets/layouts/layout/css/layout.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url( asset("assets/layouts/layout/css/themes/light2.css") )}}" rel="stylesheet" type="text/css" id="style_color" />
            <link href="{{absolute_url( asset("assets/layouts/layout/css/custom.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END THEME LAYOUT STYLES -->
            <!--BEGIN Date picker -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END DATEPICKER-->
            <!--BEGIN DATATABLE -->
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/datatables.min.css")) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset("assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")) }}" rel="stylesheet" type="text/css" />
            <!--END DATA TABLE-->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2.min.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset("assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")) }}" rel="stylesheet" type="text/css" />
            <!-- BEGIN PAGE LEVEL STYLES -->
            <link href="{{ absolute_url(asset("assets/pages/css/profile-2.min.css")) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL STYLES -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{ absolute_url(asset('assets/global/plugins/ladda/ladda-themeless.min.css')) }}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{ absolute_url(asset('assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/bootstrap-summernote/summernote.css') )}}" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/lib/codemirror.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neat.css')) }}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/ambiance.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/material.css') )}}" rel="stylesheet" type="text/css" />
            <link href="{{absolute_url( asset('assets/global/plugins/codemirror/theme/neo.css')) }}" rel="stylesheet" type="text/css" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico') )}}" />
    </head>
    <body>
            <div class="jumbotron " >
                <center><h3 class="col-sm-6 pull-right" style="color: #0e4788;width: 500px;margin-left: 220px;margin-top: 30px;">Institut Méditerranéen De Formation Aux Métiers Maritimes</h3></center>

                <img src="{{ absolute_url(asset("assets/layouts/layout/img/logo.png")) }}" alt="logo" class="logo-default col-sm-6 " style="width: 200px;margin-top: -17%;"/>
            </div>
            <div class="container" style="height: 100%;">
            <div class="" style="margin-bottom: 10%;" >
                <center style="margin-bottom: 7%;"><strong><h2 style="color: black;">Fiche de renseignement stagiaire</h2></strong></center>
                <div style="padding-right: 10%;padding-left: 10%;border-color: black!important;border: 2px;border-style: inset;padding-top: 5%;padding-bottom: 5%;">
                    <a style="color: black;font-size: 16px;"><strong>Nom : </strong> {{ user.nom }}</a><br>
                    <a style="color: black;font-size: 16px;"><strong>Prénom : </strong> {{ user.prenom }}</a>
                    <a style="color: black;font-size: 16px;"><strong>Date et Lieu de Naissance : </strong> {{ user.datenaissance|date('d/m/Y') }}</a>
                    <a style="color: black;font-size: 16px;"><strong>Sex : </strong> {{ user.sexe }}</a>
                    <a style="color: black;font-size: 16px;"><strong>Sex : </strong> {{ user.sexe }}</a>
                    <a style="color: black;font-size: 16px;"><strong>Sex : </strong> {{ user.sexe }}</a>
                    <a style="color: black;font-size: 16px;"><strong>Sex : </strong> {{ user.sexe }}</a>
                    <a style="color: black;font-size: 16px;"><strong>Sex : </strong> {{ user.sexe }}</a>
                    <a style="color: black;font-size: 16px;"><strong>Sex : </strong> {{ user.sexe }}</a>
                </div>
            </div>
        </div>

    </body>

</html>
