<!DOCTYPE html>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="{{ absolute_url(asset("assets/global/plugins/font-awesome/css/font-awesome.min.css")) }}" rel="stylesheet" type="text/css" />
<link href="{{ absolute_url(asset("assets/global/plugins/simple-line-icons/simple-line-icons.min.css") )}}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset("assets/global/plugins/bootstrap/css/bootstrap.css") )}}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset("assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")) }}" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="{{ absolute_url(asset("assets/global/css/components.css")) }}" rel="stylesheet" id="style_components" type="text/css" />
<link href="{{ absolute_url(asset("assets/global/css/plugins.min.css")) }}" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="{{absolute_url( asset("assets/layouts/layout/css/layout.css") )}}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset("assets/layouts/layout/css/themes/light2.css") )}}" rel="stylesheet" type="text/css" id="style_color" />
<link href="{{ absolute_url(asset("assets/layouts/layout/css/custom.min.css") )}}" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->
<!--BEGIN Date picker -->
<link href="{{absolute_url( asset("assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")) }}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset("assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")) }}" rel="stylesheet" type="text/css" />
<link href="{{ absolute_url(asset("assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") )}}" rel="stylesheet" type="text/css" />
<!-- END DATEPICKER-->
<!--BEGIN DATATABLE -->
<link href="{{absolute_url( asset("assets/global/plugins/datatables/datatables.min.css") )}}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset("assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css") )}}" rel="stylesheet" type="text/css" />
<!--END DATA TABLE-->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2.min.css')) }}" rel="stylesheet" type="text/css" />
<link href="{{ absolute_url(asset('assets/global/plugins/select2/css/select2-bootstrap.min.css')) }}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<link href="{{absolute_url( asset("assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")) }}" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{{ absolute_url(asset("assets/pages/css/profile-2.min.css") )}}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{{ absolute_url(asset('assets/global/plugins/ladda/ladda-themeless.min.css')) }}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{{absolute_url( asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css')) }}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset('assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css')) }}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset('assets/global/plugins/bootstrap-summernote/summernote.css')) }}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<link href="{{absolute_url( asset('assets/global/plugins/codemirror/lib/codemirror.css')) }}" rel="stylesheet" type="text/css" />
<link href="{{ absolute_url(asset('assets/global/plugins/codemirror/theme/neat.css')) }}" rel="stylesheet" type="text/css" />
<link href="{{ absolute_url(asset('assets/global/plugins/codemirror/theme/ambiance.css')) }}" rel="stylesheet" type="text/css" />
<link href="{{ absolute_url(asset('assets/global/plugins/codemirror/theme/material.css') )}}" rel="stylesheet" type="text/css" />
<link href="{{ absolute_url(asset('assets/global/plugins/codemirror/theme/neo.css')) }}" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="favicon.ico" />
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{{absolute_url( asset('assets/global/plugins/fancybox/source/jquery.fancybox.css')) }}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset('assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css') )}}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset('assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css')) }}" rel="stylesheet" type="text/css" />
<link href="{{absolute_url( asset('assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css')) }}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>{% block title %}Fiches Présences{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico') )}}" />
    </head>
    <body >
    <div style="background-color: white;">
        <div class=" " >
           <!-- <img src="{{ absolute_url(asset("assets/layouts/layout/img/header.jpg")) }}" alt="logo" class="logo-default col-sm-6 " style="width: 100%;"/>-->
        </div>
        <div class="col-sm-12" >
            <div class="col-sm-12" style="margin-bottom: 10%;" >
                <table class="table table-bordered table-hover table-checkable" id="datatable_orders" style="border:0.7px black solid;">
                    <tbody>
                        <tr role="row" class="filter">
                            <td style="border:0.7px black solid;width: 15%;"><img src="{{absolute_url( asset('image/image.png')) }}" style="width: 50%;height: 40%;"></td>
                            <td style="border:0.7px black solid;width: 85%;">
                                <table class="table table-bordered table-hover table-checkable" id="datatable_orders" style="border :0px rgba(255, 0, 0, 0.5) solid!important;margin-top: 5%!important;margin-left: -1.9%;margin-top:-1.7%!important;margin-bottom: -2.1%!important;width: 104%;">
                                    <tbody>
                                        <tr role="row" class="filter" >
                                            <td style="border-bottom:0.7px black solid;border-top:0.7px transparent solid;width: 73%;border-right:0.7px black solid;">Imprimée</td>
                                            <td style="border-bottom:0.7px black solid;border-top:0.7px transparent solid;border-left:0.7px black solid;">
                                                <table style="margin-left: 10%;margin-top: -6%;margin-bottom:-7%;padding: -5%;">
                                                    <tr>
                                                        <td style="border-right:0.7px black solid;width: 100%"><center>IMP-06/02</center></td>
                                                        <td style="border-left:0.7px black solid;float: right;width: 20%"><center>00</center></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr role="row" class="filter" >
                                            <td style="border-top:0.7px black solid;border-bottom:0.7px transparent solid;width: 73%;border-right:0.7px black solid;"><strong>Feuille de présence</strong></td>
                                            <td style="border-top:0.7px black solid;border-bottom:0.7px transparent solid;border-left:0.7px black solid;">Date :{{ "now"|date('Y-m-d') }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="col-sm-12" style='padding-left: 5%;padding-right: 5%;' >
                </div>
                <div style="padding-top: 0px;">
                    <p style="font-weight: bold;color: black;font-size: 12px;font-family: Arial;">
                        Semaine du 26 au 28 Février 2018<br>
                        Module : Agent de Sûreté du Navire<br>
                    </p>
                    <table class="table table-bordered table-hover table-checkable" id="datatable_orders" style="border:0.7px black solid;">
                        <thead>
                        <tr role="row" class="heading">
                            <th style="border:0.7px black solid;"><a style="color: black;">NOM & PRENOM </a></th>
                            {% for entity in dates %}
                                <th style="border:0.7px black solid;"><center><a style="color: black;">{{ entity.date|date('Y-m-d') }}</a></center></th>
                            {% endfor %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in absences %}
                            <tr role="row" class="filter">
                                <td style="border:0.7px black solid;">{{ entity.etudiant}}</td>
                                {% for entry in entity.dates  %}
                                    <td style="border:0.7px black solid;"><center>{% if entry==1 %}Présent{% else %}Absent{% endif %}</center></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p style="font-weight: bold;color: black;font-size: 12px;font-family: Arial;">
                        Nom et Signature du Formateur<br><br>
                        Faouzi ZORGUATI<br><br><br>
                        <a style="color: black;margin-left: 25%;">Visa du Chef Service de la Formation- </a><a style="color: black;margin-left: 10%;">     Visa du Directeur de la Formation</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
    </body>
</html>
