{% extends 'base.html.twig' %}

 {% block content %}
  <h1 class="page-title"> Tableau de bord
   <small>Raccourcis</small>
  </h1>
  <!-- END PAGE TITLE-->
  <!-- END PAGE HEADER-->
  <!-- BEGIN DASHBOARD STATS 1-->
  <div class="row">
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 blue" href="{{ path('mfmm_crm_annee_to_etudiants') }}">
     <div class="visual">
      <i class="fa fa-comments"></i>
     </div>
     <div class="details">
      <div class="number">
       <span data-counter="counterup" data-value="1349">{{ etudiants }}</span>
      </div>
      <div class="desc"> Etudiants </div>
     </div>
    </a>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 red" href="{{ path('mfmm_crm_professeurs') }}">
     <div class="visual">
      <i class="fa fa-bar-chart-o"></i>
     </div>
     <div class="details">
      <div class="number">
       <span data-counter="counterup" data-value="12,5">{{ enseigants }}</span> </div>
      <div class="desc"> Professeurs </div>
     </div>
    </a>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 green" href="{{ path('mfmm_crm_users') }}">
     <div class="visual">
      <i class="fa fa-shopping-cart"></i>
     </div>
     <div class="details">
      <div class="number">
       <span data-counter="counterup" data-value="549">{{ agents }}</span>
      </div>
      <div class="desc"> Agents </div>
     </div>
    </a>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 purple" href="{{ path('mfmm_crm_paiements') }}">
     <div class="visual">
      <i class="fa fa-globe"></i>
     </div>
     <div class="details">
      <div class="number">
       <span data-counter="counterup" data-value="89"></span>{{ paiements }}</div>
      <div class="desc"> Paiements </div>
     </div>
    </a>
   </div>
  </div>
 {% endblock %}