{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Classes</span>
    </li>
    </ul>
  </div>
  <div>
      <h1>Classe</h1>
  </div>
  <div class="portlet-body">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-6">
               <label class="control-label">Année</label>
               {{ form_errors(form.annee)}}
               {{ form_widget(form.annee, {'attr': {'class': 'form-control autocomplete','placeholder':"année"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Niveau</label>
               {{ form_errors(form.niveau)}}
               {{ form_widget(form.niveau, {'attr': {'class': 'form-control autocomplete','placeholder':"niveau"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Filière</label>
               {{ form_errors(form.filiere)}}
               {{ form_widget(form.filiere, {'attr': {'class': 'form-control autocomplete','placeholder':"filière"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Prix</label>
               {{ form_errors(form.prix)}}
               {{ form_widget(form.prix, {'attr': {'class': 'form-control autocomplete','placeholder':"prix"|trans}}) }}
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-6">
               <a href="javascript:;" > <button type="submit" class="btn green">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}