{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Classes</span>
    </li>
   </ul>
  </div>
     <div>
         <h1>Gestion des Classes</h1>
         <div class="profile-userbuttons">
             <a href="{{ path("mfmm_crm_ajout_classe") }}"><button type="button" class="btn btn-circle green btn-sm">Ajouter une Classe</button></a>
         <div>
     </div>
             <div style="padding-top: 50px;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th>Année</th>
                         <th> Nom </th>
                         <th>Code</th>
                         <th> Action </th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter">
                             <td>{{ entity.annee.nom }}</td>
                             <td>{{ entity.nom }}</td>
                             <td>{{ entity.code }}</td>
                             <td>
                                 <div class="caption">
                                     <a href="{{ path("mfmm_crm_modifier_classe",{'id':entity.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">Modifier</button></a>
                                     <a href="{{ path("mfmm_crm_supprimer_classe",{'id':entity.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette classe?')"> <button class="btn  red btn-outline btn-circle btn-sm">Supprimer</button></a>
                                 </div>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}