{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path('mfmm_crm_homepage') }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Thèmes de Formation</span>
    </li>
    </ul>
  </div>
  <div>
      <h1>Thèmes de Formation</h1>
  </div>
  <div class="portlet-body">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-6">
               <label class="control-label">Nom </label>
               {{ form_errors(form.nom)}}
               {{ form_widget(form.nom, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom "|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Nom  Arabe</label>
               {{ form_errors(form.nomA)}}
               {{ form_widget(form.nomA, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom  Arabe"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Nom  Anglais</label>
               {{ form_errors(form.nomE)}}
               {{ form_widget(form.nomE, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom  Anglais"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Familles de Formation</label>
               {{ form_errors(form.SousFilereFiliere)}}
               {{ form_widget(form.SousFilereFiliere, {'attr': {'class': 'form-control autocomplete','placeholder':"familles"|trans}}) }}
           </div>
           <!--<div class="form-group col-sm-6">
               <label class="control-label">Date début</label>
               <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                   {{ form_errors(form.dateD)}}
                   {{ form_widget(form.dateD, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date début"|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>

           <div class="form-group col-sm-6">
               <label class="control-label">Date fin</label>
               <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                   {{ form_errors(form.dateF)}}
                   {{ form_widget(form.dateF, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"Date fin"|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>-->
           <div class="form-group col-sm-6">
               <label class="control-label">Nombre de jour</label>
               {{ form_errors(form.nbJour)}}
               {{ form_widget(form.nbJour, {'attr': {'class': 'form-control autocomplete','placeholder':"Nombre de jour"|trans}}) }}
           </div>
           <div class="form-group col-sm-6 ">
               <label class="control-label">Code</label>
               {{ form_errors(form.code)}}
               {{ form_widget(form.code, {'attr': {'class': 'form-control autocomplete','placeholder':"Code"|trans}}) }}
           </div>

      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-12"><br>
               <a href="javascript:;" > <button type="submit" class="btn green">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#{{ form.vars.name }}_dateD').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('#{{ form.vars.name }}_dateF').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('#{{ form.vars.name }}_SousFilereFiliere').select2();
            $('#{{ form.vars.name }}_Stagiaire').select2();

        })
    </script>
{% endblock %}