{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Attestations</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Liste</span>
    </li>
   </ul>
  </div>
     <div>
         <h1>Gestion des Attestations</h1>
     </div>
             <div style="padding-top: 50px;">
                 <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
                     <thead>
                     <tr role="row" class="heading">
                         <th> Nom </th>
                         <th>Classe</th>
                         <th>Etat</th>
                         <th> Action </th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in pagination %}
                         <tr role="row" class="filter">
                             <td>{{ entity.user.nom }} {{ entity.user.prenom }}</td>
                             <td>{{ entity.classe.nom }}</td>
                             <td>
                                {% if entity.etat==0 %}
                                    bloqué
                                {% else %}
                                    activé
                                {% endif %}
                             </td>
                             <td>
                                 <div class="caption">
                                 {% if role==0 %}
                                     {% if entity.etat==0 %}
                                         <a href="{{ path("mfmm_crm_etat_attestation",{'id':entity.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">débloqué</button></a>
                                    {% else %}
                                         <a href="{{ path("mfmm_crm_etat_attestation",{'id':entity.id}) }}"> <button class="btn red btn-outline btn-circle btn-sm active">bloqué</button></a>
                                    {% endif %}
                                 {% endif %}
                                {% if entity.etat==1 %}
                                     <a href="{{ path("mfmm_crm_imprimer_attestationF",{'id':entity.id}) }}"> <button class="btn  blue btn-outline btn-circle btn-sm">Imprimer</button></a>
                                {% else %}
                                     <a>En cour de validation</a>
                                {% endif %}
                                 </div>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $(document).ready(function(){
             $('#datatable_orders').dataTable( {
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                 }
             } );
         })
     </script>
 {% endblock %}