{% extends 'base.html.twig' %}

 {% block content %}
  <h1 class="page-title"> Tableau de bord
   <small>Raccourcis</small>
  </h1>
  <!-- END PAGE TITLE-->
  <!-- END PAGE HEADER-->
  <!-- BEGIN DASHBOARD STATS 1-->
  <div class="row">
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 blue" href="{{ path('mfmm_crm_annee_to_etudiants') }}">
     <div class="visual">
      <i class="fa fa-comments"></i>
     </div>
     <div class="details">
      <div class="number">
       <span data-counter="counterup" data-value="1349"></span>
      </div>
      <div class="desc"> Participants </div>
     </div>
    </a>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 red" href="{{ path('mfmm_crm_professeurs') }}">
     <div class="visual">
      <i class="fa fa-bar-chart-o"></i>
     </div>
     <div class="details">
      <div class="number">
       <span data-counter="counterup" data-value="12,5"></span> </div>
      <div class="desc"> Professeurs </div>
     </div>
    </a>
   </div>
   <div class="col-sm-8">
    {% for entry in results %}
     <h3>{{ entry.filiere.nom }}</h3>
      <div style="padding-top: 1%;">
       <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_orders">
        <thead>
        <tr role="row" class="heading">
         <th>Thème de formation</th>
         <th>Nombre des Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for entity in entry.stat %}
                <tr role="row" class="filter">
                    <td>{{ entity.sousFiliere.nom }}</td>
                    <td><a href="{{ path('mfmm_crm_list_formations_by_id',{'id':entity.sousFiliere.id}) }}">{{ entity.count}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
       </table>
      </div>

    {% endfor %}
   </div>

   <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 green" href="{{ path('mfmm_crm_users') }}">
     <div class="visual">
      <i class="fa fa-shopping-cart"></i>
     </div>
     <div class="details">
      <div class="number">
       <span data-counter="counterup" data-value="549"></span>
      </div>
      <div class="desc"> Agents </div>
     </div>
    </a>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <a class="dashboard-stat dashboard-stat-v2 purple" href="{{ path('mfmm_crm_paiements') }}">
     <div class="visual">
      <i class="fa fa-globe"></i>
     </div>
     <div class="details">
      <div class="number">
       <span data-counter="counterup" data-value="89"></span></div>
      <div class="desc"> Paiements </div>
     </div>
    </a>
   </div>-->
  </div>
 {% endblock %}