{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Devoirs</span>
    </li>
    </ul>
  </div>
  <div>
      <h1>Devoir</h1>
  </div>
  <div class="portlet-body">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-6">
               <label class="control-label">Année</label>
               {{ form_errors(form.annee)}}
               {{ form_widget(form.annee, {'attr': {'class': 'form-control autocomplete','placeholder':"année"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Classe</label>
               {{ form_errors(form.classe)}}
               {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"classe"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Matière</label>
               {{ form_errors(form.matiere)}}
               {{ form_widget(form.matiere, {'attr': {'class': 'form-control autocomplete','placeholder':"matière"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Type</label>
               {{ form_errors(form.type)}}
               {{ form_widget(form.type, {'attr': {'class': 'form-control autocomplete','placeholder':"type"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Coif</label>
               {{ form_errors(form.coif)}}
               {{ form_widget(form.coif, {'attr': {'class': 'form-control autocomplete','placeholder':"Coif"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Nom</label>
               {{ form_errors(form.nom)}}
               {{ form_widget(form.nom, {'attr': {'class': 'form-control autocomplete','placeholder':"nom"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Date</label>
               <div class="input-group date date-picker margin-bottom-5" >
                   {{ form_errors(form.date)}}
                   {{ form_widget(form.date, {'attr': {'class': 'form-control form-filter input-sm','placeholder':"date"|trans}}) }}
                   <span class="input-group-btn">
                       <button class="btn btn-sm default" type="button">
                           <i class="fa fa-calendar"></i>
                       </button>
                   </span>
               </div>
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-6"><br>
               <a href="javascript:;" > <button type="submit" class="btn green">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $('#{{ form.vars.name }}_annee').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee',{id:'aa'}) }}'
             var p=patht.replace('aa',idAnnee)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $('#{{ form.vars.name }}_classe').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_annee').ready(function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee',{id:'aa'}) }}'
             var p=patht.replace('aa',idAnnee)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     })
                  fonctionAExecuter()
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_classe').on('change',function(){
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe',{id:'aa'}) }}'
             var p=patht.replace('aa',idClasse)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_matiere').empty();
                     $('#{{ form.vars.name }}_matiere').append($('<option>', {
                         value: '',
                         text : ''
                     }));
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_matiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });

         function fonctionAExecuter()
         {
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var patht='{{ path('mfmm_crm_get_matiere_from_classe',{id:'aa'}) }}'
             var p=patht.replace('aa',idClasse)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_matiere').empty();
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_matiere').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         }

         $('#{{ form.vars.name }}_date').datepicker({
             format: 'yyyy-mm-dd'
         });
     </script>
 {% endblock %}