{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Accueil</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Matières</span>
    </li>
    </ul>
  </div>
  <div>
      <h1>Matière</h1>
  </div>
  <div class="portlet-body ">
      <form role="form" action="" method="post">
      {{ form_widget(form._token) }}
           <div class="form-group col-sm-6">
               <label class="control-label">Année</label>
               {{ form_errors(form.annee)}}
               {{ form_widget(form.annee, {'attr': {'class': 'form-control autocomplete','placeholder':"année"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Classe</label>
               {{ form_errors(form.classe)}}
               {{ form_widget(form.classe, {'attr': {'class': 'form-control autocomplete','placeholder':"classe"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Semestre</label>
               {{ form_errors(form.semestre)}}
               {{ form_widget(form.semestre, {'attr': {'class': 'form-control autocomplete','placeholder':"semestre"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Nom</label>
               {{ form_errors(form.nom)}}
               {{ form_widget(form.nom, {'attr': {'class': 'form-control autocomplete','placeholder':"nom"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Nombre des heures</label>
               {{ form_errors(form.totalHeure)}}
               {{ form_widget(form.totalHeure, {'attr': {'class': 'form-control autocomplete','placeholder':"nombre des heures"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Plafond Absences</label>
               {{ form_errors(form.plafondAbsence)}}
               {{ form_widget(form.plafondAbsence, {'attr': {'class': 'form-control autocomplete','placeholder':"PLafond Absences"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Enseigant</label>
               {{ form_errors(form.user)}}
               {{ form_widget(form.user, {'attr': {'class': 'form-control autocomplete','placeholder':"Enseigant"|trans}}) }}
           </div>
           <div class="form-group col-sm-6">
               <label class="control-label">Honoraires</label>
               {{ form_errors(form.honoraires)}}
               {{ form_widget(form.honoraires, {'attr': {'class': 'form-control autocomplete','placeholder':"Honoraires"|trans}}) }}
           </div>
      {{ form_rest(form) }}
           <div class="margiv-top-10 col-sm-6"><br>
               <a href="javascript:;" > <button type="submit" class="btn green">Enregistrer </button></a>
               <a href="javascript:;" ><button type="reset" class="btn default"> Annuler </button></a>
           </div>
      </form>
  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
     <script>
         $('#{{ form.vars.name }}_annee').on('change',function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee',{id:'aa'}) }}'
             var p=patht.replace('aa',idAnnee)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
         $('#{{ form.vars.name }}_annee').ready(function(){
             var idAnnee=$('#{{ form.vars.name }}_annee').val();
             var idClasse=$('#{{ form.vars.name }}_classe').val();
             var patht='{{ path('mfmm_crm_get_classe_from_annee',{id:'aa'}) }}'
             var p=patht.replace('aa',idAnnee)
             $.ajax({
                 url : p,
                 type : 'POST',
                 success : function(data, status){
                     $('#{{ form.vars.name }}_classe').empty();
                     $.each(data, function( index, value ) {
                         $('#{{ form.vars.name }}_classe').append($('<option>', {
                             value: value.id,
                             text : value.nom
                         }));
                     });
                 },
                 error : function(resultat, status, error){
                     $('#classe').disabled = true;
                 }
             });
         });
     </script>
 {% endblock %}