{% extends 'base.html.twig' %}

 {% block content %}
  <div class="page-bar">
   <ul class="page-breadcrumb">
    <li>
     <a href="{{ path("mfmm_crm_homepage") }}">Home</a>
     <i class="fa fa-circle"></i>
    </li>
    <li>
     <span>Paramètres</span>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Profile</span>
    </li>
    </ul>
   <div class="page-toolbar">
    <div class="btn-group pull-right">
     <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
      <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu pull-right" role="menu">
      <li>
       <a href="#">
        <i class="icon-bell"></i> Action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-shield"></i> Another action</a>
      </li>
      <li>
       <a href="#">
        <i class="icon-user"></i> Something else here</a>
      </li>
      <li class="divider"> </li>
      <li>
       <a href="#">
        <i class="icon-bag"></i> Separated link</a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div>
      <h1>Matière</h1>
  </div>
  <div class="portlet-body col-sm-12">
<h1 class="page-title">
 User Profile 2
                            <small>user profile sample</small>
                        </h1>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <div class="profile">
                            <div class="tabbable-line tabbable-full-width">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="#tab_1_3" data-toggle="tab"> Account </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_3">
                                        <div class="row profile-account">
                                            <div class="col-md-3">
                                                <ul class="ver-inline-menu tabbable margin-bottom-10">
                                                    <li class="active">
                                                        <a data-toggle="tab" href="#tab_1-1">
                                                            <i class="fa fa-cog"></i>Informations Personnelles </a>
                                                        <span class="after"> </span>
                                                    </li>
                                                    <li>
                                                        <a data-toggle="tab" href="#tab_2-2">
                                                            <i class="fa fa-picture-o"></i> Changer Image </a>
                                                    </li>
                                                  <!--  <li>
                                                        <a data-toggle="tab" href="#tab_3-3">
                                                            <i class="fa fa-lock"></i> Changer Mot de passe </a>
                                                    </li>-->
                                                </ul>
                                            </div>
                                            <div class="col-md-9">
                                                <form role="form" action="{{ path('mfmm_profile',{'id':user.id}) }}" method="post" >
                                                    <div class="tab-content">
                                                        <div id="tab_1-1" class="tab-pane active">
                                                                <div class="form-group">
                                                                    <label class="control-label">Prénom</label>
                                                                    <input type="text" placeholder="{{ user.prenom }}" class="form-control" value="{{ user.prenom }}" name="prenom"/> </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Nom</label>
                                                                    <input type="text" placeholder="{{ user.nom }}" class="form-control" value="{{ user.nom }}" name="nom"/> </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Pays</label>
                                                                    <input type="text" placeholder="" class="form-control" value="{{ user.pays }}" name="pays"/> </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Cin</label>
                                                                    <input type="text" placeholder="Cin" class="form-control" value="{{ user.cin }}" name="cin"/> </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Adresse</label>
                                                                    <input type="text" placeholder="Adresse" class="form-control" value="{{ user.adresse }}" name="adresse"/> </div>
                                                                 <div class="margiv-top-10">
                                                                </div>
                                                        </div>
                                                        <div id="tab_2-2" class="tab-pane">
                                                            <!--<p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                                eiusmod. </p>-->
                                                                <div class="form-group">
                                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                                        {% if user.path %}
                                                                            <img src="{{ asset('image/user/'~user.path) }}" alt="" />
                                                                        {% else %}
                                                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                                        {% endif %}
                                                                             </div>
                                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                                        <div>
                                                                            <span class="btn default btn-file">
                                                                                <span class="fileinput-new"> Selectionner Image </span>
                                                                                <span class="fileinput-exists"> Changer </span>
                                                                                <input type="file" name="image"> </span>
                                                                            <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Supprimer </a>
                                                                        </div>
                                                                    </div>
                                                                    <!--<div class="clearfix margin-top-10">
                                                                        <span class="label label-danger"> NOTE! </span>
                                                                        <span> Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                                                    </div>-->
                                                                </div>
                                                        </div>
                                                        <!--<div id="tab_3-3" class="tab-pane">
                                                                <div class="form-group">
                                                                    <label class="control-label">nouveau Mot de Passe</label>
                                                                    <input type="password" class="form-control" name="passe1"/> </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Repéter le Mot de Passe</label>
                                                                    <input type="password" class="form-control" name="passe2"/> </div>
                                                                <div class="margin-top-10">
                                                                    <a href="javascript:;" class="btn green"> Change Password </a>
                                                                </div>
                                                        </div>-->
                                                    </div>
                                                    <div class="margin-top-10">
                                                        <button  class="btn green" type="submit"> Sauvegarder </button>
                                                        <button  class="btn default" type="reset"> Annuler </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <!--end col-md-9-->
                                        </div>
                                    </div>
                                    <!--end tab-pane-->

                                </div>
                            </div>
                        </div>  </div>
   </div>
 {% endblock %}
 {% block javascripts %}
 {% endblock %}